/*
  Welcome to Compass.
  In this file you should write your main styles. (or centralize your imports)
  Import this file using the following HTML or equivalent:
  <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" />
*/
/* line 12, ../sass/common.scss */
body {
  background: white;
  font-family: "proxima-nova", sans-serif;
  font-style: normal;
  font-weight: 300;
}

/* line 19, ../sass/common.scss */
a {
  color: #00c376;
}
/* line 21, ../sass/common.scss */
a:hover {
  color: #e62799;
}

/* line 26, ../sass/common.scss */
.ux {
  color: #e62799;
}

/* line 29, ../sass/common.scss */
.design {
  color: #00aed9;
}

/* line 32, ../sass/common.scss */
.software {
  color: #00c376;
}

/* line 36, ../sass/common.scss */
.container {
  width: 1000px;
  margin: auto;
}
@media screen and (max-width: 1000px) {
  /* line 36, ../sass/common.scss */
  .container {
    width: 98%;
    margin-left: 1%;
    margin-right: 1%;
  }
}

/* line 47, ../sass/common.scss */
header #top_bar {
  width: 100%;
}
/* line 49, ../sass/common.scss */
header #top_bar #color1, header #top_bar #color2, header #top_bar #color3 {
  height: 6px;
  float: left;
}
/* line 53, ../sass/common.scss */
header #top_bar #color1 {
  width: 45%;
  background-color: #00c376;
}
/* line 57, ../sass/common.scss */
header #top_bar #color2 {
  width: 35%;
  background-color: #00aed9;
}
/* line 61, ../sass/common.scss */
header #top_bar #color3 {
  width: 20%;
  background-color: #e62799;
}
/* line 67, ../sass/common.scss */
header #title_bar {
  height: 75px;
  position: relative;
}
/* line 70, ../sass/common.scss */
header #title_bar #logo, header #title_bar #menu {
  position: absolute;
  bottom: 10px;
}
/* line 74, ../sass/common.scss */
header #title_bar #logo {
  left: 0;
  width: 350px;
  font-size: 2em;
  font-weight: 700;
  cursor: pointer;
}
/* line 80, ../sass/common.scss */
header #title_bar #logo span {
  font-weight: 300;
  font-size: 0.8em;
  margin-left: 1%;
  cursor: default;
}
/* line 87, ../sass/common.scss */
header #title_bar #menu {
  right: 0;
  width: 270px;
  font-size: 1em;
  font-weight: 700;
}
/* line 92, ../sass/common.scss */
header #title_bar #menu a {
  margin-left: 10%;
  color: black;
  text-decoration: none;
}
/* line 96, ../sass/common.scss */
header #title_bar #menu a:nth-child(1):hover {
  color: #e62799;
}
/* line 99, ../sass/common.scss */
header #title_bar #menu a:nth-child(2):hover {
  color: #00aed9;
}
/* line 102, ../sass/common.scss */
header #title_bar #menu a:nth-child(3):hover {
  color: #00c376;
}
@media screen and (max-width: 700px) {
  /* line 67, ../sass/common.scss */
  header #title_bar {
    height: 125px;
  }
  /* line 109, ../sass/common.scss */
  header #title_bar #logo, header #title_bar #menu {
    position: relative;
    left: inherit;
    right: inherit;
    margin: auto;
    text-align: center;
  }
  /* line 116, ../sass/common.scss */
  header #title_bar #logo {
    padding: 40px 0 20px 0;
  }
}

/* line 124, ../sass/common.scss */
footer {
  clear: both;
  height: 120px;
  width: 100%;
}
/* line 128, ../sass/common.scss */
footer #footer_content {
  width: 200px;
  margin: auto;
  text-align: center;
  color: #dddddd;
}
/* line 133, ../sass/common.scss */
footer #footer_content p {
  font-size: 1.5em;
  -webkit-margin-before: 0.5em;
  -webkit-margin-after: 0.5em;
}
/* line 138, ../sass/common.scss */
footer #footer_content #rights {
  font-size: 0.7em;
}
