/* line 4, ../sass/home.scss */
#image_bar {
  height: 430px;
  width: 100%;
  background-color: #666666;
  background-image: url('/tribity2/img/home/3.png?1362523201');
  background-position: center top;
  background-repeat: no-repeat;
  position: relative;
}
@media screen and (max-width: 1128px) {
  /* line 4, ../sass/home.scss */
  #image_bar {
    height: 660px;
  }
}
@media screen and (max-width: 700px) {
  /* line 4, ../sass/home.scss */
  #image_bar {
    height: 890px;
  }
}
/* line 18, ../sass/home.scss */
#image_bar #image_top_bar {
  height: 6px;
  background-color: #000000;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=75);
  opacity: 0.75;
}
/* line 23, ../sass/home.scss */
#image_bar #work_bar, #image_bar #work_list {
  height: 230px;
}
@media screen and (max-width: 1128px) {
  /* line 23, ../sass/home.scss */
  #image_bar #work_bar, #image_bar #work_list {
    height: 460px;
  }
}
@media screen and (max-width: 700px) {
  /* line 23, ../sass/home.scss */
  #image_bar #work_bar, #image_bar #work_list {
    height: 690px;
  }
}
/* line 32, ../sass/home.scss */
#image_bar #work_bar {
  position: absolute;
  bottom: 0;
  width: 100%;
  background-color: #000000;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=75);
  opacity: 0.75;
}
/* line 40, ../sass/home.scss */
#image_bar #work_list {
  position: relative;
  top: 194px;
  color: #333333;
}
/* line 44, ../sass/home.scss */
#image_bar #work_list .work_type {
  width: 33%;
  float: left;
  text-align: center;
}
/* line 48, ../sass/home.scss */
#image_bar #work_list .work_type span {
  height: 95px;
  width: 195px;
  margin-top: 10px;
  display: inline-block;
}
/* line 54, ../sass/home.scss */
#image_bar #work_list .work_type h1 {
  font-size: 1.5em;
  color: #dddddd;
  margin: 0.1em 0;
  font-weight: normal;
  font-family: "chaparral-pro", sans-serif;
}
/* line 61, ../sass/home.scss */
#image_bar #work_list .work_type p {
  font-size: 1em;
  color: #aaaaaa;
}
@media screen and (max-width: 1128px) {
  /* line 40, ../sass/home.scss */
  #image_bar #work_list {
    width: 600px;
    margin: auto;
  }
  /* line 69, ../sass/home.scss */
  #image_bar #work_list .work_type {
    width: 300px;
  }
  /* line 71, ../sass/home.scss */
  #image_bar #work_list .work_type:nth-child(3) {
    float: none;
    margin: auto;
  }
}
@media screen and (max-width: 700px) {
  /* line 40, ../sass/home.scss */
  #image_bar #work_list {
    width: 300px;
  }
}

/* line 83, ../sass/home.scss */
#content {
  width: 100%;
  color: #666666;
  margin: 50px 0 50px 0;
  text-align: center;
}
