/* line 4, ../sass/home.scss */
#image_bar {
  height: 430px;
  width: 100%;
  background-color: #666666;
  position: relative;
}
@media screen and (max-width: 1000px) {
  /* line 4, ../sass/home.scss */
  #image_bar {
    height: 660px;
  }
}
@media screen and (max-width: 700px) {
  /* line 4, ../sass/home.scss */
  #image_bar {
    height: 890px;
  }
}
/* line 15, ../sass/home.scss */
#image_bar #image_top_bar {
  height: 6px;
  background-color: #000000;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=70);
  opacity: 0.7;
}
/* line 20, ../sass/home.scss */
#image_bar #work_bar, #image_bar #work_list {
  height: 230px;
}
@media screen and (max-width: 1000px) {
  /* line 20, ../sass/home.scss */
  #image_bar #work_bar, #image_bar #work_list {
    height: 460px;
  }
}
@media screen and (max-width: 700px) {
  /* line 20, ../sass/home.scss */
  #image_bar #work_bar, #image_bar #work_list {
    height: 690px;
  }
}
/* line 29, ../sass/home.scss */
#image_bar #work_bar {
  position: absolute;
  bottom: 0;
  width: 100%;
  background-color: #000000;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=70);
  opacity: 0.7;
}
/* line 37, ../sass/home.scss */
#image_bar #work_list {
  position: relative;
  top: 194px;
  color: #222222;
}
/* line 41, ../sass/home.scss */
#image_bar #work_list .work_type {
  width: 33%;
  float: left;
  text-align: center;
}
/* line 45, ../sass/home.scss */
#image_bar #work_list .work_type img {
  height: 60px;
  width: 100px;
  padding-top: 25px;
}
/* line 50, ../sass/home.scss */
#image_bar #work_list .work_type h1 {
  font-size: 1.5em;
  color: #dddddd;
}
/* line 54, ../sass/home.scss */
#image_bar #work_list .work_type p {
  font-size: 1em;
  color: #aaaaaa;
}
@media screen and (max-width: 1000px) {
  /* line 37, ../sass/home.scss */
  #image_bar #work_list {
    width: 700px;
    margin: auto;
  }
  /* line 62, ../sass/home.scss */
  #image_bar #work_list .work_type {
    width: 350px;
  }
}
@media screen and (max-width: 700px) {
  /* line 37, ../sass/home.scss */
  #image_bar #work_list {
    width: 350px;
  }
}

/* line 72, ../sass/home.scss */
#content {
  width: 100%;
  color: #aaaaaa;
  margin: 50px 0 50px 0;
  text-align: center;
}
/* line 77, ../sass/home.scss */
#content p {
  font-size: 1.5em;
}
