/*
 * HTML5 Boilerplate
 *
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */
/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */
/* line 19, ../sass/main.scss */
html,
button,
input,
select,
textarea {
  color: #333333;
}

/* line 23, ../sass/main.scss */
body {
  font-size: 1em;
  line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight: h5bp.com/i
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */
/* line 34, ../sass/main.scss */
::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

/* line 39, ../sass/main.scss */
::selection {
  background: #b3d4fc;
  text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */
/* line 48, ../sass/main.scss */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #cccccc;
  margin: 3em 0;
  padding: 0;
}

/*
 * Remove the gap between images and the bottom of their containers: h5bp.com/i/440
 */
/* line 61, ../sass/main.scss */
img {
  vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */
/* line 69, ../sass/main.scss */
fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */
/* line 79, ../sass/main.scss */
textarea {
  resize: vertical;
}

/* ==========================================================================
   Chrome Frame prompt
   ========================================================================== */
/* line 87, ../sass/main.scss */
.chromeframe {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */
/* line 210, icons/*.png */
.icons-sprite, .icons-apps_icon, .icons-apps_icon_white, .icons-comment_icon, .icons-dribbble, .icons-email_icon, .icons-facebook, .icons-games_icon, .icons-games_icon_white, .icons-linkedin, .icons-location_icon, .icons-phone_icon, .icons-twitter, .icons-websites_icon, .icons-websites_icon_white {
  background: url('/tribity2/img/icons-sa300b7a26c.png') no-repeat;
}

/* line 60, c:/Ruby193/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.icons-apps_icon {
  background-position: 0 -100px;
}
/* line 43, c:/Ruby193/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.icons-apps_icon:hover, .icons-apps_icon.apps_icon_hover, .icons-apps_icon.apps_icon-hover {
  background-position: 0 0;
}

/* line 60, c:/Ruby193/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.icons-apps_icon_white {
  background-position: 0 -400px;
}

/* line 60, c:/Ruby193/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.icons-comment_icon {
  background-position: 0 -1000px;
}
/* line 43, c:/Ruby193/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.icons-comment_icon:hover, .icons-comment_icon.comment_icon_hover, .icons-comment_icon.comment_icon-hover {
  background-position: 0 -900px;
}

/* line 60, c:/Ruby193/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.icons-dribbble {
  background-position: 0 -1300px;
}
/* line 43, c:/Ruby193/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.icons-dribbble:hover, .icons-dribbble.dribbble_hover, .icons-dribbble.dribbble-hover {
  background-position: 0 -1326px;
}

/* line 60, c:/Ruby193/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.icons-email_icon {
  background-position: 0 -600px;
}

/* line 60, c:/Ruby193/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.icons-facebook {
  background-position: 0 -1556px;
}
/* line 43, c:/Ruby193/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.icons-facebook:hover, .icons-facebook.facebook_hover, .icons-facebook.facebook-hover {
  background-position: 0 -1582px;
}

/* line 60, c:/Ruby193/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.icons-games_icon {
  background-position: 0 -300px;
}
/* line 43, c:/Ruby193/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.icons-games_icon:hover, .icons-games_icon.games_icon_hover, .icons-games_icon.games_icon-hover {
  background-position: 0 -200px;
}

/* line 60, c:/Ruby193/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.icons-games_icon_white {
  background-position: 0 -500px;
}

/* line 60, c:/Ruby193/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.icons-linkedin {
  background-position: 0 -1504px;
}
/* line 43, c:/Ruby193/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.icons-linkedin:hover, .icons-linkedin.linkedin_hover, .icons-linkedin.linkedin-hover {
  background-position: 0 -1530px;
}

/* line 60, c:/Ruby193/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.icons-location_icon {
  background-position: 0 -700px;
}

/* line 60, c:/Ruby193/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.icons-phone_icon {
  background-position: 0 -800px;
}

/* line 60, c:/Ruby193/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.icons-twitter {
  background-position: 0 -1452px;
}
/* line 43, c:/Ruby193/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.icons-twitter:hover, .icons-twitter.twitter_hover, .icons-twitter.twitter-hover {
  background-position: 0 -1478px;
}

/* line 60, c:/Ruby193/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.icons-websites_icon {
  background-position: 0 -1200px;
}
/* line 43, c:/Ruby193/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.icons-websites_icon:hover, .icons-websites_icon.websites_icon_hover, .icons-websites_icon.websites_icon-hover {
  background-position: 0 -1100px;
}

/* line 60, c:/Ruby193/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.icons-websites_icon_white {
  background-position: 0 -1352px;
}

/* line 98, work/*.png */
.work-sprite, .work-work-tiles1, .work-work-tiles2, .work-work-tiles3, .work-work-tiles4, .work-work-tiles5, .work-work-tiles6, .work-work-tiles7, .work-work-tiles8 {
  background: url('/tribity2/img/work-s100bf0654f.png') no-repeat;
}

/* line 60, c:/Ruby193/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.work-work-tiles1 {
  background-position: 0 0;
}

/* line 60, c:/Ruby193/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.work-work-tiles2 {
  background-position: 0 -1100px;
}

/* line 60, c:/Ruby193/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.work-work-tiles3 {
  background-position: 0 -660px;
}

/* line 60, c:/Ruby193/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.work-work-tiles4 {
  background-position: 0 -880px;
}

/* line 60, c:/Ruby193/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.work-work-tiles5 {
  background-position: 0 -220px;
}

/* line 60, c:/Ruby193/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.work-work-tiles6 {
  background-position: 0 -1540px;
}

/* line 60, c:/Ruby193/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.work-work-tiles7 {
  background-position: 0 -440px;
}

/* line 60, c:/Ruby193/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.work-work-tiles8 {
  background-position: 0 -1320px;
}

                       /*@import "company/team/*.png";
@include all-team-sprites;*/
/* line 108, ../sass/main.scss */
.team-team-photo1 {
  background-image: url('/tribity2/img/company/team-s99ae73721e.png');
  background-position: 0 -310px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: block;
  height: 300px;
  width: 300px;
}
@media (-webkit-min-device-pixel-ratio: 2), (min-device-pixel-ratio: 2) {
  /* line 108, ../sass/main.scss */
  .team-team-photo1 {
    background-image: url('/tribity2/img/company/team_mobile-sd7e0842ed8.png');
    background-size: 300px 1520px;
    background-position: 0 -305px;
    height: 300px;
    width: 300px;
  }
}

/* line 112, ../sass/main.scss */
.team-team-photo2 {
  background-image: url('/tribity2/img/company/team-s99ae73721e.png');
  background-position: 0 -930px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: block;
  height: 300px;
  width: 300px;
}
@media (-webkit-min-device-pixel-ratio: 2), (min-device-pixel-ratio: 2) {
  /* line 112, ../sass/main.scss */
  .team-team-photo2 {
    background-image: url('/tribity2/img/company/team_mobile-sd7e0842ed8.png');
    background-size: 300px 1520px;
    background-position: 0 -915px;
    height: 300px;
    width: 300px;
  }
}

/* line 116, ../sass/main.scss */
.team-team-photo3 {
  background-image: url('/tribity2/img/company/team-s99ae73721e.png');
  background-position: 0 -620px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: block;
  height: 300px;
  width: 300px;
}
@media (-webkit-min-device-pixel-ratio: 2), (min-device-pixel-ratio: 2) {
  /* line 116, ../sass/main.scss */
  .team-team-photo3 {
    background-image: url('/tribity2/img/company/team_mobile-sd7e0842ed8.png');
    background-size: 300px 1520px;
    background-position: 0 -610px;
    height: 300px;
    width: 300px;
  }
}

/* line 120, ../sass/main.scss */
.team-team-photo4 {
  background-image: url('/tribity2/img/company/team-s99ae73721e.png');
  background-position: 0 0;
  background-repeat: no-repeat;
  overflow: hidden;
  display: block;
  height: 300px;
  width: 300px;
}
@media (-webkit-min-device-pixel-ratio: 2), (min-device-pixel-ratio: 2) {
  /* line 120, ../sass/main.scss */
  .team-team-photo4 {
    background-image: url('/tribity2/img/company/team_mobile-sd7e0842ed8.png');
    background-size: 300px 1520px;
    background-position: 0 0;
    height: 300px;
    width: 300px;
  }
}

/* line 124, ../sass/main.scss */
.team-team-photo5 {
  background-image: url('/tribity2/img/company/team-s99ae73721e.png');
  background-position: 0 -1240px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: block;
  height: 300px;
  width: 300px;
}
@media (-webkit-min-device-pixel-ratio: 2), (min-device-pixel-ratio: 2) {
  /* line 124, ../sass/main.scss */
  .team-team-photo5 {
    background-image: url('/tribity2/img/company/team_mobile-sd7e0842ed8.png');
    background-size: 300px 1520px;
    background-position: 0 -1220px;
    height: 300px;
    width: 300px;
  }
}

/*
  Welcome to Compass.
  In this file you should write your main styles. (or centralize your imports)
  Import this file using the following HTML or equivalent:
  <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" />
*/
/* line 10, ../sass/common.scss */
html {
  overflow-y: scroll;
}

/* line 14, ../sass/common.scss */
body {
  background: white;
  font-family: "chaparral-pro", sans-serif;
  font-style: normal;
  font-weight: 300;
}

/* line 21, ../sass/common.scss */
a {
  color: #00c376;
  font-style: italic;
}
/* line 24, ../sass/common.scss */
a:hover {
  color: #e62799;
}

/* line 29, ../sass/common.scss */
p {
  font-size: 1.6em;
}

/* line 33, ../sass/common.scss */
h1 {
  font-size: 1.5em;
  font-family: "proxima-nova", sans-serif;
  margin: 0 0;
  font-weight: 600;
}

/* line 39, ../sass/common.scss */
h2 {
  font-size: 1em;
  margin: 0 0;
  font-weight: 300;
}

/* line 45, ../sass/common.scss */
textarea, input {
  outline: none;
  border: 1px solid #cccccc;
  color: #cccccc;
}
/* line 30, ../sass/config.scss */
textarea.placeholder, input.placeholder {
  color: #cccccc;
}
/* line 33, ../sass/config.scss */
textarea:-moz-placeholder, input:-moz-placeholder {
  color: #cccccc;
}
/* line 36, ../sass/config.scss */
textarea::-webkit-input-placeholder, input::-webkit-input-placeholder {
  color: #cccccc;
}
/* line 50, ../sass/common.scss */
textarea:focus, input:focus {
  outline: none;
  border: 1px solid #666666;
  color: #666666;
}
/* line 30, ../sass/config.scss */
textarea:focus.placeholder, input:focus.placeholder {
  color: #666666;
}
/* line 33, ../sass/config.scss */
textarea:focus:-moz-placeholder, input:focus:-moz-placeholder {
  color: #666666;
}
/* line 36, ../sass/config.scss */
textarea:focus::-webkit-input-placeholder, input:focus::-webkit-input-placeholder {
  color: #666666;
}

/* line 59, ../sass/common.scss */
.ux {
  color: #e62799;
}

/* line 62, ../sass/common.scss */
.design {
  color: #00aed9;
}

/* line 65, ../sass/common.scss */
.software {
  color: #00c376;
}

/* line 69, ../sass/common.scss */
.container {
  width: 1128px;
  margin: auto;
}
@media screen and (max-width: 1128px) {
  /* line 69, ../sass/common.scss */
  .container {
    width: 98%;
    margin-left: 1%;
    margin-right: 1%;
  }
}

/* line 79, ../sass/common.scss */
.button {
  font-size: 1.2em;
  height: 50px;
  line-height: 50px;
  width: 168px;
  display: block;
  color: #eeeeee;
  background-color: #333333;
  text-decoration: none;
  text-align: center;
  margin: auto;
  font-family: "proxima-nova", sans-serif;
  font-weight: 400;
  font-style: normal;
}
/* line 93, ../sass/common.scss */
.button:hover {
  background-color: #00c376;
  color: #333333;
}

/* line 100, ../sass/common.scss */
header #top_bar {
  width: 100%;
}
/* line 102, ../sass/common.scss */
header #top_bar #color1, header #top_bar #color2, header #top_bar #color3 {
  height: 6px;
  float: left;
}
/* line 106, ../sass/common.scss */
header #top_bar #color1 {
  width: 45%;
  background-color: #00c376;
}
/* line 110, ../sass/common.scss */
header #top_bar #color2 {
  width: 35%;
  background-color: #00aed9;
}
/* line 114, ../sass/common.scss */
header #top_bar #color3 {
  width: 20%;
  background-color: #e62799;
}
/* line 120, ../sass/common.scss */
header #title_bar {
  height: 75px;
  position: relative;
  font-family: "proxima-nova", sans-serif;
}
/* line 124, ../sass/common.scss */
header #title_bar #logo, header #title_bar #menu {
  position: absolute;
  bottom: 10px;
}
/* line 128, ../sass/common.scss */
header #title_bar #logo {
  left: 0;
  width: 360px;
  font-size: 2em;
  font-weight: 700;
  cursor: pointer;
}
/* line 134, ../sass/common.scss */
header #title_bar #logo span {
  font-weight: 300;
  font-size: 0.8em;
  margin-left: 1%;
  cursor: pointer;
}
/* line 140, ../sass/common.scss */
header #title_bar #logo .subpage {
  font-size: 1em;
  font-weight: 700;
  color: #cccccc;
}
@media screen and (max-width: 400px) {
  /* line 128, ../sass/common.scss */
  header #title_bar #logo {
    width: 300px;
    font-size: 1.5em;
  }
}
/* line 150, ../sass/common.scss */
header #title_bar #menu {
  right: 0;
  width: 270px;
  font-size: 1em;
  font-weight: 700;
}
/* line 155, ../sass/common.scss */
header #title_bar #menu a {
  margin-left: 10%;
  color: black;
  text-decoration: none;
  font-style: normal;
}
/* line 160, ../sass/common.scss */
header #title_bar #menu a:nth-child(1):hover {
  color: #e62799;
}
/* line 163, ../sass/common.scss */
header #title_bar #menu a:nth-child(2):hover {
  color: #00aed9;
}
/* line 166, ../sass/common.scss */
header #title_bar #menu a:nth-child(3):hover {
  color: #00c376;
}
@media screen and (max-width: 700px) {
  /* line 120, ../sass/common.scss */
  header #title_bar {
    height: 125px;
  }
  /* line 173, ../sass/common.scss */
  header #title_bar #logo, header #title_bar #menu {
    position: absolute;
    left: inherit;
    right: inherit;
    text-align: center;
    /*left: 50%;*/
  }
  /* line 180, ../sass/common.scss */
  header #title_bar #logo {
    top: 21px;
  }
  /* line 183, ../sass/common.scss */
  header #title_bar #menu {
    top: 85px;
  }
  /* line 186, ../sass/common.scss */
  header #title_bar .absolut-center {
    position: relative;
    /*left: -50%;*/
  }
}

/* line 195, ../sass/common.scss */
#canvasloader-container {
  position: relative;
  top: 50px;
  width: 100px;
  margin: auto;
}

/* line 202, ../sass/common.scss */
footer {
  clear: both;
  height: 120px;
  width: 100%;
  padding-top: 220px;
}
/* line 207, ../sass/common.scss */
footer #footer_content {
  width: 210px;
  margin: auto;
  text-align: center;
  color: #999999;
}
/* line 212, ../sass/common.scss */
footer #footer_content a {
  height: 26px;
  width: 26px;
  display: inline-block;
  margin: 0 1px 0 1px;
}
/* line 218, ../sass/common.scss */
footer #footer_content p {
  font-size: 1.5em;
  -webkit-margin-before: 0.1em;
  -webkit-margin-after: 0.5em;
}
/* line 223, ../sass/common.scss */
footer #footer_content #rights {
  font-family: "proxima-nova", sans-serif;
  font-size: 0.85em;
}

/* line 4, ../sass/home.scss */
#image_bar {
  height: 430px;
  width: 100%;
  background-color: #666666;
  background-image: url('/tribity2/img/home/bg1.jpg?1370597754');
  background-position: center -360px;
  background-repeat: no-repeat;
  position: relative;
}
@media screen and (max-width: 1128px) {
  /* line 4, ../sass/home.scss */
  #image_bar {
    height: 660px;
  }
}
@media screen and (max-width: 700px) {
  /* line 4, ../sass/home.scss */
  #image_bar {
    height: 890px;
  }
}
/* line 18, ../sass/home.scss */
#image_bar #image_top_bar {
  height: 6px;
  background-color: #000000;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=75);
  opacity: 0.75;
}
/* line 23, ../sass/home.scss */
#image_bar #work_bar, #image_bar #work_list {
  height: 230px;
}
@media screen and (max-width: 1128px) {
  /* line 23, ../sass/home.scss */
  #image_bar #work_bar, #image_bar #work_list {
    height: 460px;
  }
}
@media screen and (max-width: 700px) {
  /* line 23, ../sass/home.scss */
  #image_bar #work_bar, #image_bar #work_list {
    height: 690px;
  }
}
/* line 32, ../sass/home.scss */
#image_bar #work_bar {
  position: absolute;
  bottom: 0;
  width: 100%;
  background-color: #000000;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=75);
  opacity: 0.75;
}
/* line 40, ../sass/home.scss */
#image_bar #work_list {
  position: relative;
  top: 194px;
  color: #333333;
}
/* line 44, ../sass/home.scss */
#image_bar #work_list .work_type {
  width: 33%;
  float: left;
  text-align: center;
}
/* line 48, ../sass/home.scss */
#image_bar #work_list .work_type span {
  height: 95px;
  width: 195px;
  margin-top: 10px;
  display: inline-block;
}
/* line 54, ../sass/home.scss */
#image_bar #work_list .work_type h1 {
  font-size: 1.5em;
  color: #dddddd;
  margin: 0.1em 0;
  font-weight: normal;
  font-family: "chaparral-pro", sans-serif;
}
/* line 61, ../sass/home.scss */
#image_bar #work_list .work_type p {
  font-size: 1em;
  color: #aaaaaa;
}
@media screen and (max-width: 1128px) {
  /* line 40, ../sass/home.scss */
  #image_bar #work_list {
    width: 600px;
    margin: auto;
  }
  /* line 69, ../sass/home.scss */
  #image_bar #work_list .work_type {
    width: 300px;
  }
  /* line 71, ../sass/home.scss */
  #image_bar #work_list .work_type:nth-child(3) {
    float: none;
    margin: auto;
  }
}
@media screen and (max-width: 700px) {
  /* line 40, ../sass/home.scss */
  #image_bar #work_list {
    width: 300px;
  }
}

/* line 83, ../sass/home.scss */
#content {
  width: 100%;
  color: #666666;
  margin: 50px 0 50px 0;
  text-align: center;
}

/* line 3, ../sass/work.scss */
#work_content {
  text-align: center;
}
/* line 5, ../sass/work.scss */
#work_content .quotation {
  font-style: italic;
}
/* line 8, ../sass/work.scss */
#work_content p {
  color: #666666;
}
/* line 11, ../sass/work.scss */
#work_content .software {
  color: #00c376;
}

/* line 16, ../sass/work.scss */
#work_content_details {
  text-align: center;
  position: relative;
  margin-top: 20px;
}
/* line 20, ../sass/work.scss */
#work_content_details .quotation {
  font-style: italic;
}
/* line 23, ../sass/work.scss */
#work_content_details p {
  color: #666666;
}
/* line 26, ../sass/work.scss */
#work_content_details div {
  font-size: 1.5em;
  width: 48%;
  text-align: left;
  color: #666666;
  padding-left: 1%;
  padding-right: 1%;
}
@media screen and (max-width: 700px) {
  /* line 26, ../sass/work.scss */
  #work_content_details div {
    width: 100%;
    text-align: center;
  }
}
/* line 38, ../sass/work.scss */
#work_content_details img {
  width: 100%;
  margin-bottom: 20px;
}
/* line 42, ../sass/work.scss */
#work_content_details .software {
  color: #00c376;
}
/* line 45, ../sass/work.scss */
#work_content_details #screenshot_computer {
  width: 100%;
  height: auto;
  margin: auto;
}
/* line 50, ../sass/work.scss */
#work_content_details #screenshot {
  position: absolute;
  width: 100%;
  height: auto;
  top: 0;
  left: 0;
  margin: auto;
}
/* line 58, ../sass/work.scss */
#work_content_details .floaty-left {
  float: left;
}
/* line 61, ../sass/work.scss */
#work_content_details .floaty-right {
  float: right;
}

/* line 66, ../sass/work.scss */
#project_container {
  padding: 50px 0 50px 0;
  width: 902px;
  margin: auto;
}
@media screen and (max-width: 1128px) {
  /* line 66, ../sass/work.scss */
  #project_container {
    width: 601px;
  }
}
@media screen and (max-width: 700px) {
  /* line 66, ../sass/work.scss */
  #project_container {
    width: 300px;
  }
}

/* line 78, ../sass/work.scss */
.project {
  height: 320px;
  width: 33%;
  float: left;
  padding: 10px 0 10px 0;
  cursor: pointer;
}
/* line 84, ../sass/work.scss */
.project:nth-child(1), .project:nth-child(2), .project:nth-child(4), .project:nth-child(5) {
  border-right: 1px solid #cccccc;
}
@media screen and (max-width: 1128px) {
  /* line 78, ../sass/work.scss */
  .project {
    width: 300px;
  }
  /* line 90, ../sass/work.scss */
  .project:nth-child(2), .project:nth-child(4) {
    border-right: none;
  }
  /* line 93, ../sass/work.scss */
  .project:nth-child(3) {
    border-right: 1px solid #cccccc;
  }
  /* line 96, ../sass/work.scss */
  .project:nth-child(1), .project:nth-child(2) {
    border-bottom: 1px solid #cccccc;
  }
}
@media screen and (max-width: 700px) {
  /* line 101, ../sass/work.scss */
  .project:nth-child(1), .project:nth-child(3), .project:nth-child(5) {
    border-right: none;
  }
  /* line 104, ../sass/work.scss */
  .project:nth-child(5) {
    border-bottom: 1px solid #cccccc;
  }
}
/* line 108, ../sass/work.scss */
.project span {
  height: 220px;
  width: 300px;
  display: inline-block;
}
/* line 115, ../sass/work.scss */
.project h2 {
  color: #666666;
  font-size: 1.2em;
  padding: 0 10px;
}

/* line 4, ../sass/company.scss */
#image_bar_company {
  height: 430px;
  width: 100%;
  background-color: #666666;
  background-image: url('/tribity2/img/home/bg2.jpg?1370597754');
  background-position: center -160px;
  background-repeat: no-repeat;
  position: relative;
}
@media screen and (max-width: 700px) {
  /* line 4, ../sass/company.scss */
  #image_bar_company {
    height: 784px;
  }
}
/* line 15, ../sass/company.scss */
#image_bar_company #image_top_bar_company {
  height: 6px;
  background-color: #000000;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=75);
  opacity: 0.75;
}
/* line 20, ../sass/company.scss */
#image_bar_company #responsibility_list {
  width: 902px;
  margin: auto;
}
@media screen and (max-width: 1128px) {
  /* line 20, ../sass/company.scss */
  #image_bar_company #responsibility_list {
    width: 601px;
  }
}
@media screen and (max-width: 700px) {
  /* line 20, ../sass/company.scss */
  #image_bar_company #responsibility_list {
    width: 300px;
  }
}
/* line 29, ../sass/company.scss */
#image_bar_company #responsibility_list .responsibility {
  width: 50%;
  text-align: left;
  float: left;
}
@media screen and (max-width: 700px) {
  /* line 29, ../sass/company.scss */
  #image_bar_company #responsibility_list .responsibility {
    width: 300px;
    text-align: center;
    margin-bottom: 23px;
  }
}
/* line 38, ../sass/company.scss */
#image_bar_company #responsibility_list .responsibility h1 {
  font-size: 3em;
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.9);
}
/* line 42, ../sass/company.scss */
#image_bar_company #responsibility_list .responsibility ul {
  font-size: 1.5em;
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.9);
  color: #e6e6e6;
  list-style-type: none;
  padding: 0;
  margin: 0;
}
/* line 50, ../sass/company.scss */
#image_bar_company #responsibility_list .responsibility a {
  float: left;
  margin: 50px 20px 0 0;
}
@media screen and (max-width: 1128px) {
  /* line 50, ../sass/company.scss */
  #image_bar_company #responsibility_list .responsibility a {
    float: none;
    margin: 4px 0px;
  }
}
@media screen and (max-width: 700px) {
  /* line 50, ../sass/company.scss */
  #image_bar_company #responsibility_list .responsibility a {
    float: none;
    margin: 0px auto;
  }
}
/* line 62, ../sass/company.scss */
#image_bar_company #responsibility_list .responsibility span {
  float: left;
  margin: 50px 20px 0 0;
  font-size: 1.5em;
  color: #e6e6e6;
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.6);
  height: 50px;
  line-height: 50px;
  font-weight: 400;
}
@media screen and (max-width: 1128px) {
  /* line 62, ../sass/company.scss */
  #image_bar_company #responsibility_list .responsibility span {
    float: none;
    margin: 0px 72px;
  }
}
@media screen and (max-width: 700px) {
  /* line 62, ../sass/company.scss */
  #image_bar_company #responsibility_list .responsibility span {
    float: none;
    margin: 5px;
  }
}

/* line 84, ../sass/company.scss */
#people_content {
  text-align: center;
}
/* line 86, ../sass/company.scss */
#people_content .quotation {
  font-style: italic;
}
/* line 89, ../sass/company.scss */
#people_content p {
  color: #666666;
}
/* line 92, ../sass/company.scss */
#people_content #logos {
  display: block;
  height: 90px;
  background-image: url('/tribity2/img/company/tech-logo-set.png?1362872986');
  background-position: center;
  background-repeat: no-repeat;
}
/* line 99, ../sass/company.scss */
#people_content .software {
  color: #00c376;
}

/* line 104, ../sass/company.scss */
#people_container {
  padding: 50px 0 50px 0;
  width: 902px;
  margin: auto;
}
@media screen and (max-width: 1128px) {
  /* line 104, ../sass/company.scss */
  #people_container {
    width: 601px;
  }
}
@media screen and (max-width: 700px) {
  /* line 104, ../sass/company.scss */
  #people_container {
    width: 300px;
  }
}

/* line 116, ../sass/company.scss */
.person {
  width: 300px;
  float: left;
  cursor: pointer;
  position: relative;
  height: 300px;
}
/* line 122, ../sass/company.scss */
.person:nth-child(1), .person:nth-child(2), .person:nth-child(4), .person:nth-child(5) {
  border-right: 1px solid #cccccc;
}
/* line 125, ../sass/company.scss */
.person:nth-child(1), .person:nth-child(2), .person:nth-child(3) {
  border-bottom: 1px solid #cccccc;
}
@media screen and (max-width: 1128px) {
  /* line 116, ../sass/company.scss */
  .person {
    width: 300px;
  }
  /* line 130, ../sass/company.scss */
  .person:nth-child(2), .person:nth-child(4) {
    border-right: none;
  }
  /* line 133, ../sass/company.scss */
  .person:nth-child(3) {
    border-right: 1px solid #cccccc;
  }
  /* line 136, ../sass/company.scss */
  .person:nth-child(4) {
    border-bottom: 1px solid #cccccc;
  }
}
@media screen and (max-width: 700px) {
  /* line 141, ../sass/company.scss */
  .person:nth-child(1), .person:nth-child(3), .person:nth-child(5), .person:nth-child(7), .person:nth-child(9) {
    border-right: none;
  }
  /* line 144, ../sass/company.scss */
  .person:nth-child(5) {
    border-bottom: 1px solid #cccccc;
  }
}
/* line 148, ../sass/company.scss */
.person span {
  height: 300px;
  width: 300px;
  display: inline-block;
}
/* line 154, ../sass/company.scss */
.person .name-and-place {
  position: absolute;
  top: 140px;
  left: 0px;
  width: 135px;
}
/* line 159, ../sass/company.scss */
.person .name-and-place h2 {
  color: #666666;
}
/* line 162, ../sass/company.scss */
.person .name-and-place a {
  height: 26px;
  width: 26px;
  display: inline-block;
  margin: 0 1px 0 1px;
}
/* line 169, ../sass/company.scss */
.person #join-us {
  margin-top: 120px;
  font-size: 2em;
  font-family: "proxima-nova", sans-serif;
}
/* line 173, ../sass/company.scss */
.person #join-us span {
  height: inherit;
  display: inline;
  color: #00c376;
  font-weight: bold;
}
/* line 178, ../sass/company.scss */
.person #join-us span #us {
  color: #333333;
}
/* line 182, ../sass/company.scss */
.person #join-us a {
  font-size: 0.6em;
}

/* line 3, ../sass/contact.scss */
#contact {
  text-align: center;
}
/* line 5, ../sass/contact.scss */
#contact p {
  color: #666666;
}
/* line 7, ../sass/contact.scss */
#contact p h2 {
  font-size: 0.7em;
}
/* line 11, ../sass/contact.scss */
#contact #contact_form_container {
  text-align: left;
}
@media screen and (max-width: 1000px) {
  /* line 11, ../sass/contact.scss */
  #contact #contact_form_container {
    width: 500px;
    margin: auto;
  }
}
/* line 17, ../sass/contact.scss */
#contact #contact_form_container ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: block;
  width: 500px;
  float: left;
  color: #666666;
}
@media screen and (max-width: 1000px) {
  /* line 17, ../sass/contact.scss */
  #contact #contact_form_container ul {
    width: 500px;
  }
}
@media screen and (max-width: 500px) {
  /* line 17, ../sass/contact.scss */
  #contact #contact_form_container ul {
    width: 300px;
  }
}
/* line 31, ../sass/contact.scss */
#contact #contact_form_container ul li {
  width: 100%;
  cursor: pointer;
}
@media screen and (max-width: 500px) {
  /* line 31, ../sass/contact.scss */
  #contact #contact_form_container ul li {
    width: 300px;
    text-align: center;
  }
}
/* line 38, ../sass/contact.scss */
#contact #contact_form_container ul li .icon {
  width: 200px;
  height: 100px;
  float: left;
}
@media screen and (max-width: 500px) {
  /* line 38, ../sass/contact.scss */
  #contact #contact_form_container ul li .icon {
    float: inherit;
    margin: auto;
  }
}
/* line 47, ../sass/contact.scss */
#contact #contact_form_container ul li span {
  width: 300px;
  font-size: 2em;
  float: left;
  margin-top: 28px;
}
@media screen and (max-width: 500px) {
  /* line 47, ../sass/contact.scss */
  #contact #contact_form_container ul li span {
    line-height: inherit;
    margin-bottom: 20px;
  }
}
/* line 56, ../sass/contact.scss */
#contact #contact_form_container ul li span a {
  color: #666666;
  font-style: normal;
  text-decoration: none;
}
/* line 60, ../sass/contact.scss */
#contact #contact_form_container ul li span a:hover {
  color: #00c376;
}
/* line 67, ../sass/contact.scss */
#contact #contact_form_container #contact_form {
  width: 480px;
  float: right;
}
@media screen and (max-width: 1000px) {
  /* line 67, ../sass/contact.scss */
  #contact #contact_form_container #contact_form {
    float: left;
  }
}
@media screen and (max-width: 500px) {
  /* line 67, ../sass/contact.scss */
  #contact #contact_form_container #contact_form {
    float: left;
    width: 300px;
  }
}
/* line 77, ../sass/contact.scss */
#contact #contact_form_container #contact_form input[type='text'] {
  width: 210px;
  padding-left: 10px;
}
/* line 80, ../sass/contact.scss */
#contact #contact_form_container #contact_form input[type='text']:first-child {
  float: left;
}
@media screen and (max-width: 500px) {
  /* line 80, ../sass/contact.scss */
  #contact #contact_form_container #contact_form input[type='text']:first-child {
    float: right;
  }
}
/* line 88, ../sass/contact.scss */
#contact #contact_form_container #contact_form input[type='email'] {
  width: 470px;
  padding-left: 10px;
}
/* line 92, ../sass/contact.scss */
#contact #contact_form_container #contact_form input[type='text'], #contact #contact_form_container #contact_form input[type='email'] {
  height: 40px;
  float: right;
  margin: 10px 0;
  font-size: 1.5em;
}
@media screen and (max-width: 500px) {
  /* line 92, ../sass/contact.scss */
  #contact #contact_form_container #contact_form input[type='text'], #contact #contact_form_container #contact_form input[type='email'] {
    width: 90%;
    float: right;
  }
}
/* line 103, ../sass/contact.scss */
#contact #contact_form_container #contact_form textarea {
  resize: none;
  width: 469px;
  height: 200px;
  overflow: auto;
  float: right;
  margin: 10px 0;
  font-size: 1.5em;
  padding-left: 10px;
}
@media screen and (max-width: 500px) {
  /* line 103, ../sass/contact.scss */
  #contact #contact_form_container #contact_form textarea {
    width: 90%;
    float: right;
  }
}
/* line 118, ../sass/contact.scss */
#contact #contact_form_container #contact_form input[type='submit'] {
  float: right;
  border: 0;
  margin: 10px 0;
}

/* line 127, ../sass/contact.scss */
.selected-purpose {
  color: #00c376;
}

/*
  Welcome to Compass. Use this file to define print styles.
  Import this file using the following HTML or equivalent:
  <link href="/stylesheets/print.css" media="print" rel="stylesheet" type="text/css" />
*/
/* ==========================================================================
   Helper classes
   ========================================================================== */
/*
 * Image replacement
 */
/* line 148, ../sass/main.scss */
.ir {
  background-color: transparent;
  border: 0;
  overflow: hidden;
  /* IE 6/7 fallback */
  *text-indent: -9999px;
}

/* line 156, ../sass/main.scss */
.ir:before {
  content: "";
  display: block;
  width: 0;
  height: 150%;
}

/*
 * Hide from both screenreaders and browsers: h5bp.com/u
 */
/* line 167, ../sass/main.scss */
.hidden {
  display: none !important;
  visibility: hidden;
}

/*
 * Hide only visually, but have it available for screenreaders: h5bp.com/v
 */
/* line 176, ../sass/main.scss */
.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element to be focusable
 * when navigated to via the keyboard: h5bp.com/p
 */
/* line 193, ../sass/main.scss */
.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto;
}

/*
 * Hide visually and from screenreaders, but maintain layout
 */
/* line 206, ../sass/main.scss */
.invisible {
  visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */
/* line 223, ../sass/main.scss */
.clearfix:before,
.clearfix:after {
  content: " ";
  /* 1 */
  display: table;
  /* 2 */
}

/* line 228, ../sass/main.scss */
.clearfix:after {
  clear: both;
}

/*
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */
/* line 237, ../sass/main.scss */
.clearfix {
  *zoom: 1;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */
@media only screen and (min-width: 35em) {
  /* Style adjustments for viewports that meet the condition */
}
@media print, (-o-min-device-pixel-ratio: 5 / 4), (-webkit-min-device-pixel-ratio: 1.25), (min-resolution: 120dpi) {
  /* Style adjustments for high resolution devices */
}
/* ==========================================================================
   Print styles.
   Inlined to avoid required HTTP connection: h5bp.com/r
   ========================================================================== */
@media print {
  /* line 264, ../sass/main.scss */
  * {
    background: transparent !important;
    color: black !important;
    /* Black prints faster: h5bp.com/s */
    box-shadow: none !important;
    text-shadow: none !important;
  }

  /* line 272, ../sass/main.scss */
  a,
  a:visited {
    text-decoration: underline;
  }

  /* line 276, ../sass/main.scss */
  a[href]:after {
    content: " (" attr(href) ")";
  }

  /* line 280, ../sass/main.scss */
  abbr[title]:after {
    content: " (" attr(title) ")";
  }

  /*
   * Don't show links for images, or javascript/internal links
   */
  /* line 290, ../sass/main.scss */
  .ir a:after,
  a[href^="javascript:"]:after,
  a[href^="#"]:after {
    content: "";
  }

  /* line 295, ../sass/main.scss */
  pre,
  blockquote {
    border: 1px solid #999999;
    page-break-inside: avoid;
  }

  /* line 300, ../sass/main.scss */
  thead {
    display: table-header-group;
    /* h5bp.com/t */
  }

  /* line 305, ../sass/main.scss */
  tr,
  img {
    page-break-inside: avoid;
  }

  /* line 309, ../sass/main.scss */
  img {
    max-width: 100% !important;
  }

  @page {
    margin: 0.5cm;
}

  /* line 319, ../sass/main.scss */
  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }

  /* line 325, ../sass/main.scss */
  h2,
  h3 {
    page-break-after: avoid;
  }
}
