/*
 * HTML5 Boilerplate
 *
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */
/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */
/* line 17, ../sass/main.scss */
html,
button,
input,
select,
textarea {
  color: #222;
}

/* line 21, ../sass/main.scss */
body {
  font-size: 1em;
  line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight: h5bp.com/i
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */
/* line 32, ../sass/main.scss */
::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

/* line 37, ../sass/main.scss */
::selection {
  background: #b3d4fc;
  text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */
/* line 46, ../sass/main.scss */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #cccccc;
  margin: 1em 0;
  padding: 0;
}

/*
 * Remove the gap between images and the bottom of their containers: h5bp.com/i/440
 */
/* line 59, ../sass/main.scss */
img {
  vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */
/* line 67, ../sass/main.scss */
fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */
/* line 77, ../sass/main.scss */
textarea {
  resize: vertical;
}

/* ==========================================================================
   Chrome Frame prompt
   ========================================================================== */
/* line 85, ../sass/main.scss */
.chromeframe {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */
/*
  Welcome to Compass.
  In this file you should write your main styles. (or centralize your imports)
  Import this file using the following HTML or equivalent:
  <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" />
*/
/* line 12, ../sass/common.scss */
body {
  background: white;
  font-family: "proxima-nova", sans-serif;
  font-style: normal;
  font-weight: 300;
}

/* line 19, ../sass/common.scss */
a {
  color: #00c376;
}
/* line 21, ../sass/common.scss */
a:hover {
  color: #e62799;
}

/* line 26, ../sass/common.scss */
.ux {
  color: #e62799;
}

/* line 29, ../sass/common.scss */
.design {
  color: #00aed9;
}

/* line 32, ../sass/common.scss */
.software {
  color: #00c376;
}

/* line 36, ../sass/common.scss */
.container {
  width: 1000px;
  margin: auto;
}
@media screen and (max-width: 1000px) {
  /* line 36, ../sass/common.scss */
  .container {
    width: 98%;
    margin-left: 1%;
    margin-right: 1%;
  }
}

/* line 47, ../sass/common.scss */
header #top_bar {
  width: 100%;
}
/* line 49, ../sass/common.scss */
header #top_bar #color1, header #top_bar #color2, header #top_bar #color3 {
  height: 6px;
  float: left;
}
/* line 53, ../sass/common.scss */
header #top_bar #color1 {
  width: 45%;
  background-color: #00c376;
}
/* line 57, ../sass/common.scss */
header #top_bar #color2 {
  width: 35%;
  background-color: #00aed9;
}
/* line 61, ../sass/common.scss */
header #top_bar #color3 {
  width: 20%;
  background-color: #e62799;
}
/* line 67, ../sass/common.scss */
header #title_bar {
  height: 75px;
  position: relative;
}
/* line 70, ../sass/common.scss */
header #title_bar #logo, header #title_bar #menu {
  position: absolute;
  bottom: 10px;
}
/* line 74, ../sass/common.scss */
header #title_bar #logo {
  left: 0;
  width: 350px;
  font-size: 2em;
  font-weight: 700;
  cursor: pointer;
}
/* line 80, ../sass/common.scss */
header #title_bar #logo span {
  font-weight: 300;
  font-size: 0.8em;
  margin-left: 1%;
  cursor: default;
}
/* line 87, ../sass/common.scss */
header #title_bar #menu {
  right: 0;
  width: 270px;
  font-size: 1em;
  font-weight: 700;
}
/* line 92, ../sass/common.scss */
header #title_bar #menu a {
  margin-left: 10%;
  color: black;
  text-decoration: none;
}
/* line 96, ../sass/common.scss */
header #title_bar #menu a:nth-child(1):hover {
  color: #e62799;
}
/* line 99, ../sass/common.scss */
header #title_bar #menu a:nth-child(2):hover {
  color: #00aed9;
}
/* line 102, ../sass/common.scss */
header #title_bar #menu a:nth-child(3):hover {
  color: #00c376;
}
@media screen and (max-width: 700px) {
  /* line 67, ../sass/common.scss */
  header #title_bar {
    height: 125px;
  }
  /* line 109, ../sass/common.scss */
  header #title_bar #logo, header #title_bar #menu {
    position: relative;
    left: inherit;
    right: inherit;
    margin: auto;
    text-align: center;
  }
  /* line 116, ../sass/common.scss */
  header #title_bar #logo {
    padding: 40px 0 20px 0;
  }
}

/* line 124, ../sass/common.scss */
footer {
  clear: both;
  height: 120px;
  width: 100%;
}
/* line 128, ../sass/common.scss */
footer #footer_content {
  width: 200px;
  margin: auto;
  text-align: center;
  color: #dddddd;
}
/* line 133, ../sass/common.scss */
footer #footer_content p {
  font-size: 1.5em;
  -webkit-margin-before: 0.5em;
  -webkit-margin-after: 0.5em;
}
/* line 138, ../sass/common.scss */
footer #footer_content #rights {
  font-size: 0.7em;
}

/* line 4, ../sass/home.scss */
#image_bar {
  height: 430px;
  width: 100%;
  background-color: #666666;
  position: relative;
}
@media screen and (max-width: 1000px) {
  /* line 4, ../sass/home.scss */
  #image_bar {
    height: 660px;
  }
}
@media screen and (max-width: 700px) {
  /* line 4, ../sass/home.scss */
  #image_bar {
    height: 890px;
  }
}
/* line 15, ../sass/home.scss */
#image_bar #image_top_bar {
  height: 6px;
  background-color: #000000;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=70);
  opacity: 0.7;
}
/* line 20, ../sass/home.scss */
#image_bar #work_bar, #image_bar #work_list {
  height: 230px;
}
@media screen and (max-width: 1000px) {
  /* line 20, ../sass/home.scss */
  #image_bar #work_bar, #image_bar #work_list {
    height: 460px;
  }
}
@media screen and (max-width: 700px) {
  /* line 20, ../sass/home.scss */
  #image_bar #work_bar, #image_bar #work_list {
    height: 690px;
  }
}
/* line 29, ../sass/home.scss */
#image_bar #work_bar {
  position: absolute;
  bottom: 0;
  width: 100%;
  background-color: #000000;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=70);
  opacity: 0.7;
}
/* line 37, ../sass/home.scss */
#image_bar #work_list {
  position: relative;
  top: 194px;
  color: #222222;
}
/* line 41, ../sass/home.scss */
#image_bar #work_list .work_type {
  width: 33%;
  float: left;
  text-align: center;
}
/* line 45, ../sass/home.scss */
#image_bar #work_list .work_type img {
  height: 60px;
  width: 100px;
  padding-top: 25px;
}
/* line 50, ../sass/home.scss */
#image_bar #work_list .work_type h1 {
  font-size: 1.5em;
  color: #dddddd;
}
/* line 54, ../sass/home.scss */
#image_bar #work_list .work_type p {
  font-size: 1em;
  color: #aaaaaa;
}
@media screen and (max-width: 1000px) {
  /* line 37, ../sass/home.scss */
  #image_bar #work_list {
    width: 700px;
    margin: auto;
  }
  /* line 62, ../sass/home.scss */
  #image_bar #work_list .work_type {
    width: 350px;
  }
}
@media screen and (max-width: 700px) {
  /* line 37, ../sass/home.scss */
  #image_bar #work_list {
    width: 350px;
  }
}

/* line 72, ../sass/home.scss */
#content {
  width: 100%;
  color: #aaaaaa;
  margin: 50px 0 50px 0;
  text-align: center;
}
/* line 77, ../sass/home.scss */
#content p {
  font-size: 1.5em;
}

/* line 3, ../sass/work.scss */
#work_content {
  text-align: center;
}
/* line 5, ../sass/work.scss */
#work_content p {
  font-size: 1.5em;
}

/* line 10, ../sass/work.scss */
#project_container {
  padding: 50px 0 50px 0;
}
@media screen and (max-width: 1000px) {
  /* line 10, ../sass/work.scss */
  #project_container {
    width: 700px;
    margin: auto;
  }
}
@media screen and (max-width: 700px) {
  /* line 10, ../sass/work.scss */
  #project_container {
    width: 350px;
  }
}

/* line 21, ../sass/work.scss */
.project {
  height: 400px;
  width: 33%;
  float: left;
  padding: 10px 0 10px 0;
}
/* line 26, ../sass/work.scss */
.project:nth-child(1), .project:nth-child(2), .project:nth-child(4), .project:nth-child(5) {
  border-right: 1px solid #dddddd;
}
/* line 29, ../sass/work.scss */
.project:nth-child(1), .project:nth-child(2), .project:nth-child(3) {
  border-bottom: 1px solid #dddddd;
}
@media screen and (max-width: 1000px) {
  /* line 21, ../sass/work.scss */
  .project {
    width: 333px;
  }
  /* line 35, ../sass/work.scss */
  .project:nth-child(2), .project:nth-child(4) {
    border-right: none;
  }
  /* line 38, ../sass/work.scss */
  .project:nth-child(3) {
    border-right: 1px solid #dddddd;
  }
  /* line 41, ../sass/work.scss */
  .project:nth-child(4) {
    border-bottom: 1px solid #dddddd;
  }
}
@media screen and (max-width: 700px) {
  /* line 46, ../sass/work.scss */
  .project:nth-child(1), .project:nth-child(3), .project:nth-child(5) {
    border-right: none;
  }
  /* line 49, ../sass/work.scss */
  .project:nth-child(5) {
    border-bottom: 1px solid #dddddd;
  }
}
/* line 54, ../sass/work.scss */
.project img {
  height: 280px;
  width: 280px;
}
/* line 58, ../sass/work.scss */
.project h1 {
  font-size: 1.5em;
}
/* line 61, ../sass/work.scss */
.project h2 {
  font-size: 1em;
  color: #aaaaaa;
}

/*
  Welcome to Compass. Use this file to define print styles.
  Import this file using the following HTML or equivalent:
  <link href="/stylesheets/print.css" media="print" rel="stylesheet" type="text/css" />
*/
/* ==========================================================================
   Helper classes
   ========================================================================== */
/*
 * Image replacement
 */
/* line 116, ../sass/main.scss */
.ir {
  background-color: transparent;
  border: 0;
  overflow: hidden;
  /* IE 6/7 fallback */
  *text-indent: -9999px;
}

/* line 124, ../sass/main.scss */
.ir:before {
  content: "";
  display: block;
  width: 0;
  height: 150%;
}

/*
 * Hide from both screenreaders and browsers: h5bp.com/u
 */
/* line 135, ../sass/main.scss */
.hidden {
  display: none !important;
  visibility: hidden;
}

/*
 * Hide only visually, but have it available for screenreaders: h5bp.com/v
 */
/* line 144, ../sass/main.scss */
.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element to be focusable
 * when navigated to via the keyboard: h5bp.com/p
 */
/* line 161, ../sass/main.scss */
.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto;
}

/*
 * Hide visually and from screenreaders, but maintain layout
 */
/* line 174, ../sass/main.scss */
.invisible {
  visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */
/* line 191, ../sass/main.scss */
.clearfix:before,
.clearfix:after {
  content: " ";
  /* 1 */
  display: table;
  /* 2 */
}

/* line 196, ../sass/main.scss */
.clearfix:after {
  clear: both;
}

/*
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */
/* line 205, ../sass/main.scss */
.clearfix {
  *zoom: 1;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */
@media only screen and (min-width: 35em) {
  /* Style adjustments for viewports that meet the condition */
}
@media print, (-o-min-device-pixel-ratio: 5 / 4), (-webkit-min-device-pixel-ratio: 1.25), (min-resolution: 120dpi) {
  /* Style adjustments for high resolution devices */
}
/* ==========================================================================
   Print styles.
   Inlined to avoid required HTTP connection: h5bp.com/r
   ========================================================================== */
@media print {
  /* line 232, ../sass/main.scss */
  * {
    background: transparent !important;
    color: black !important;
    /* Black prints faster: h5bp.com/s */
    box-shadow: none !important;
    text-shadow: none !important;
  }

  /* line 240, ../sass/main.scss */
  a,
  a:visited {
    text-decoration: underline;
  }

  /* line 244, ../sass/main.scss */
  a[href]:after {
    content: " (" attr(href) ")";
  }

  /* line 248, ../sass/main.scss */
  abbr[title]:after {
    content: " (" attr(title) ")";
  }

  /*
   * Don't show links for images, or javascript/internal links
   */
  /* line 258, ../sass/main.scss */
  .ir a:after,
  a[href^="javascript:"]:after,
  a[href^="#"]:after {
    content: "";
  }

  /* line 263, ../sass/main.scss */
  pre,
  blockquote {
    border: 1px solid #999999;
    page-break-inside: avoid;
  }

  /* line 268, ../sass/main.scss */
  thead {
    display: table-header-group;
    /* h5bp.com/t */
  }

  /* line 273, ../sass/main.scss */
  tr,
  img {
    page-break-inside: avoid;
  }

  /* line 277, ../sass/main.scss */
  img {
    max-width: 100% !important;
  }

  @page {
    margin: 0.5cm;
}

  /* line 287, ../sass/main.scss */
  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }

  /* line 293, ../sass/main.scss */
  h2,
  h3 {
    page-break-after: avoid;
  }
}
