/*
 * HTML5 Boilerplate
 *
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */
/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */
/* line 19, ../sass/main.scss */
html,
button,
input,
select,
textarea {
  color: #333333;
}

/* line 23, ../sass/main.scss */
body {
  font-size: 1em;
  line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight: h5bp.com/i
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */
/* line 34, ../sass/main.scss */
::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

/* line 39, ../sass/main.scss */
::selection {
  background: #b3d4fc;
  text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */
/* line 48, ../sass/main.scss */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #cccccc;
  margin: 1em 0;
  padding: 0;
}

/*
 * Remove the gap between images and the bottom of their containers: h5bp.com/i/440
 */
/* line 61, ../sass/main.scss */
img {
  vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */
/* line 69, ../sass/main.scss */
fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */
/* line 79, ../sass/main.scss */
textarea {
  resize: vertical;
}

/* ==========================================================================
   Chrome Frame prompt
   ========================================================================== */
/* line 87, ../sass/main.scss */
.chromeframe {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */
/* line 170, icons/*.png */
.icons-sprite, .icons-apps_icon, .icons-apps_icon_white, .icons-comment_icon, .icons-dribbble, .icons-facebook, .icons-games_icon, .icons-games_icon_white, .icons-twitter, .icons-websites_icon, .icons-websites_icon_white {
  background: url('/tribity2/img/icons-s97441ee9b6.png') no-repeat;
}

/* line 60, c:/Ruby193/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.icons-apps_icon {
  background-position: 0 -100px;
}
/* line 43, c:/Ruby193/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.icons-apps_icon:hover, .icons-apps_icon.apps_icon_hover, .icons-apps_icon.apps_icon-hover {
  background-position: 0 0;
}

/* line 60, c:/Ruby193/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.icons-apps_icon_white {
  background-position: 0 -400px;
}

/* line 60, c:/Ruby193/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.icons-comment_icon {
  background-position: 0 -700px;
}
/* line 43, c:/Ruby193/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.icons-comment_icon:hover, .icons-comment_icon.comment_icon_hover, .icons-comment_icon.comment_icon-hover {
  background-position: 0 -600px;
}

/* line 60, c:/Ruby193/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.icons-dribbble {
  background-position: 0 -1000px;
}
/* line 43, c:/Ruby193/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.icons-dribbble:hover, .icons-dribbble.dribbble_hover, .icons-dribbble.dribbble-hover {
  background-position: 0 -1026px;
}

/* line 60, c:/Ruby193/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.icons-facebook {
  background-position: 0 -1204px;
}
/* line 43, c:/Ruby193/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.icons-facebook:hover, .icons-facebook.facebook_hover, .icons-facebook.facebook-hover {
  background-position: 0 -1230px;
}

/* line 60, c:/Ruby193/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.icons-games_icon {
  background-position: 0 -300px;
}
/* line 43, c:/Ruby193/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.icons-games_icon:hover, .icons-games_icon.games_icon_hover, .icons-games_icon.games_icon-hover {
  background-position: 0 -200px;
}

/* line 60, c:/Ruby193/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.icons-games_icon_white {
  background-position: 0 -500px;
}

/* line 60, c:/Ruby193/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.icons-twitter {
  background-position: 0 -1152px;
}
/* line 43, c:/Ruby193/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.icons-twitter:hover, .icons-twitter.twitter_hover, .icons-twitter.twitter-hover {
  background-position: 0 -1178px;
}

/* line 60, c:/Ruby193/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.icons-websites_icon {
  background-position: 0 -900px;
}
/* line 43, c:/Ruby193/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.icons-websites_icon:hover, .icons-websites_icon.websites_icon_hover, .icons-websites_icon.websites_icon-hover {
  background-position: 0 -800px;
}

/* line 60, c:/Ruby193/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.icons-websites_icon_white {
  background-position: 0 -1052px;
}

/* line 82, work/*.png */
.work-sprite, .work-work-tiles1, .work-work-tiles2, .work-work-tiles3, .work-work-tiles4, .work-work-tiles5, .work-work-tiles6 {
  background: url('/tribity2/img/work-scddbb80bb6.png') no-repeat;
}

/* line 60, c:/Ruby193/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.work-work-tiles1 {
  background-position: 0 0;
}

/* line 60, c:/Ruby193/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.work-work-tiles2 {
  background-position: 0 -880px;
}

/* line 60, c:/Ruby193/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.work-work-tiles3 {
  background-position: 0 -660px;
}

/* line 60, c:/Ruby193/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.work-work-tiles4 {
  background-position: 0 -440px;
}

/* line 60, c:/Ruby193/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.work-work-tiles5 {
  background-position: 0 -220px;
}

/* line 60, c:/Ruby193/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.work-work-tiles6 {
  background-position: 0 -1100px;
}

/* line 82, company/team/*.png */
.team-sprite, .team-team-photo-generic, .team-team-photo1, .team-team-photo2, .team-team-photo3, .team-team-photo4, .team-team-photo5 {
  background: url('/tribity2/img/company/team-s7fdf3e48ef.png') no-repeat;
}

/* line 60, c:/Ruby193/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.team-team-photo-generic {
  background-position: 0 -1830px;
}

/* line 60, c:/Ruby193/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.team-team-photo1 {
  background-position: 0 0;
}

/* line 60, c:/Ruby193/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.team-team-photo2 {
  background-position: 0 -1098px;
}

/* line 60, c:/Ruby193/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.team-team-photo3 {
  background-position: 0 -732px;
}

/* line 60, c:/Ruby193/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.team-team-photo4 {
  background-position: 0 -366px;
}

/* line 60, c:/Ruby193/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.team-team-photo5 {
  background-position: 0 -1464px;
}

/*
  Welcome to Compass.
  In this file you should write your main styles. (or centralize your imports)
  Import this file using the following HTML or equivalent:
  <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" />
*/
/* line 10, ../sass/common.scss */
body {
  background: white;
  font-family: "chaparral-pro", sans-serif;
  font-style: normal;
  font-weight: 300;
}

/* line 17, ../sass/common.scss */
a {
  color: #00c376;
}
/* line 19, ../sass/common.scss */
a:hover {
  color: #e62799;
}

/* line 24, ../sass/common.scss */
p {
  font-size: 1.6em;
}

/* line 28, ../sass/common.scss */
h1 {
  font-size: 1.5em;
  font-family: "proxima-nova", sans-serif;
  margin: 0 0;
  font-weight: 500;
}

/* line 34, ../sass/common.scss */
h2 {
  font-size: 1em;
  margin: 0 0;
  font-weight: 300;
}

/* line 40, ../sass/common.scss */
.ux {
  color: #e62799;
}

/* line 43, ../sass/common.scss */
.design {
  color: #00aed9;
}

/* line 46, ../sass/common.scss */
.software {
  color: #00c376;
}

/* line 50, ../sass/common.scss */
.container {
  width: 1128px;
  margin: auto;
}
@media screen and (max-width: 1128px) {
  /* line 50, ../sass/common.scss */
  .container {
    width: 98%;
    margin-left: 1%;
    margin-right: 1%;
  }
}

/* line 60, ../sass/common.scss */
.button {
  font-size: 1.2em;
  height: 50px;
  line-height: 50px;
  width: 168px;
  display: block;
  color: #eeeeee;
  background-color: #333333;
  text-decoration: none;
  text-align: center;
  margin: auto;
}
/* line 71, ../sass/common.scss */
.button:hover {
  background-color: #666666;
}

/* line 77, ../sass/common.scss */
header #top_bar {
  width: 100%;
}
/* line 79, ../sass/common.scss */
header #top_bar #color1, header #top_bar #color2, header #top_bar #color3 {
  height: 6px;
  float: left;
}
/* line 83, ../sass/common.scss */
header #top_bar #color1 {
  width: 45%;
  background-color: #00c376;
}
/* line 87, ../sass/common.scss */
header #top_bar #color2 {
  width: 35%;
  background-color: #00aed9;
}
/* line 91, ../sass/common.scss */
header #top_bar #color3 {
  width: 20%;
  background-color: #e62799;
}
/* line 97, ../sass/common.scss */
header #title_bar {
  height: 75px;
  position: relative;
  font-family: "proxima-nova", sans-serif;
}
/* line 101, ../sass/common.scss */
header #title_bar #logo, header #title_bar #menu {
  position: absolute;
  bottom: 10px;
}
/* line 105, ../sass/common.scss */
header #title_bar #logo {
  left: 0;
  width: 350px;
  font-size: 2em;
  font-weight: 700;
  cursor: pointer;
}
/* line 111, ../sass/common.scss */
header #title_bar #logo span {
  font-weight: 300;
  font-size: 0.8em;
  margin-left: 1%;
  cursor: default;
}
@media screen and (max-width: 400px) {
  /* line 105, ../sass/common.scss */
  header #title_bar #logo {
    width: 300px;
    font-size: 1.5em;
  }
}
/* line 122, ../sass/common.scss */
header #title_bar #menu {
  right: 0;
  width: 270px;
  font-size: 1em;
  font-weight: 700;
}
/* line 127, ../sass/common.scss */
header #title_bar #menu a {
  margin-left: 10%;
  color: black;
  text-decoration: none;
}
/* line 131, ../sass/common.scss */
header #title_bar #menu a:nth-child(1):hover {
  color: #e62799;
}
/* line 134, ../sass/common.scss */
header #title_bar #menu a:nth-child(2):hover {
  color: #00aed9;
}
/* line 137, ../sass/common.scss */
header #title_bar #menu a:nth-child(3):hover {
  color: #00c376;
}
@media screen and (max-width: 700px) {
  /* line 97, ../sass/common.scss */
  header #title_bar {
    height: 125px;
  }
  /* line 144, ../sass/common.scss */
  header #title_bar #logo, header #title_bar #menu {
    position: relative;
    left: inherit;
    right: inherit;
    margin: auto;
    text-align: center;
  }
  /* line 151, ../sass/common.scss */
  header #title_bar #logo {
    padding: 40px 0 20px 0;
  }
}

/* line 159, ../sass/common.scss */
footer {
  clear: both;
  height: 120px;
  width: 100%;
  padding-top: 220px;
}
/* line 164, ../sass/common.scss */
footer #footer_content {
  width: 200px;
  margin: auto;
  text-align: center;
  color: #999999;
}
/* line 169, ../sass/common.scss */
footer #footer_content a {
  height: 26px;
  width: 26px;
  display: inline-block;
  margin: 0 1px 0 1px;
}
/* line 175, ../sass/common.scss */
footer #footer_content p {
  font-size: 1.5em;
  -webkit-margin-before: 0.1em;
  -webkit-margin-after: 0.5em;
}
/* line 180, ../sass/common.scss */
footer #footer_content #rights {
  font-family: "proxima-nova", sans-serif;
  font-size: 0.85em;
}

/* line 4, ../sass/home.scss */
#image_bar {
  height: 430px;
  width: 100%;
  background-color: #666666;
  background-image: url('/tribity2/img/home/3.png?1362523201');
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
}
@media screen and (max-width: 1128px) {
  /* line 4, ../sass/home.scss */
  #image_bar {
    height: 660px;
  }
}
@media screen and (max-width: 700px) {
  /* line 4, ../sass/home.scss */
  #image_bar {
    height: 890px;
  }
}
/* line 18, ../sass/home.scss */
#image_bar #image_top_bar {
  height: 6px;
  background-color: #000000;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=75);
  opacity: 0.75;
}
/* line 23, ../sass/home.scss */
#image_bar #work_bar, #image_bar #work_list {
  height: 230px;
}
@media screen and (max-width: 1128px) {
  /* line 23, ../sass/home.scss */
  #image_bar #work_bar, #image_bar #work_list {
    height: 460px;
  }
}
@media screen and (max-width: 700px) {
  /* line 23, ../sass/home.scss */
  #image_bar #work_bar, #image_bar #work_list {
    height: 690px;
  }
}
/* line 32, ../sass/home.scss */
#image_bar #work_bar {
  position: absolute;
  bottom: 0;
  width: 100%;
  background-color: #000000;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=75);
  opacity: 0.75;
}
/* line 40, ../sass/home.scss */
#image_bar #work_list {
  position: relative;
  top: 194px;
  color: #333333;
}
/* line 44, ../sass/home.scss */
#image_bar #work_list .work_type {
  width: 33%;
  float: left;
  text-align: center;
}
/* line 48, ../sass/home.scss */
#image_bar #work_list .work_type span {
  height: 95px;
  width: 195px;
  margin-top: 10px;
  display: inline-block;
}
/* line 54, ../sass/home.scss */
#image_bar #work_list .work_type h1 {
  font-size: 1.5em;
  color: #dddddd;
  margin: 0.1em 0;
  font-weight: normal;
}
/* line 60, ../sass/home.scss */
#image_bar #work_list .work_type p {
  font-size: 1em;
  color: #aaaaaa;
}
@media screen and (max-width: 1128px) {
  /* line 40, ../sass/home.scss */
  #image_bar #work_list {
    width: 700px;
    margin: auto;
  }
  /* line 68, ../sass/home.scss */
  #image_bar #work_list .work_type {
    width: 300px;
  }
}
@media screen and (max-width: 700px) {
  /* line 40, ../sass/home.scss */
  #image_bar #work_list {
    width: 300px;
  }
}

/* line 78, ../sass/home.scss */
#content {
  width: 100%;
  color: #666666;
  margin: 50px 0 50px 0;
  text-align: center;
}

/* line 3, ../sass/work.scss */
#work_content {
  text-align: center;
}
/* line 5, ../sass/work.scss */
#work_content .quotation {
  font-style: italic;
}
/* line 8, ../sass/work.scss */
#work_content p {
  color: #666666;
}
/* line 11, ../sass/work.scss */
#work_content .software {
  color: #00c376;
}

/* line 16, ../sass/work.scss */
#project_container {
  padding: 50px 0 50px 0;
  width: 902px;
  margin: auto;
}
@media screen and (max-width: 1128px) {
  /* line 16, ../sass/work.scss */
  #project_container {
    width: 601px;
  }
}
@media screen and (max-width: 700px) {
  /* line 16, ../sass/work.scss */
  #project_container {
    width: 300px;
  }
}

/* line 28, ../sass/work.scss */
.project {
  height: 400px;
  width: 33%;
  float: left;
  padding: 10px 0 10px 0;
  cursor: pointer;
}
/* line 34, ../sass/work.scss */
.project:hover {
  background-color: #eeeeee;
}
/* line 37, ../sass/work.scss */
.project:nth-child(1), .project:nth-child(2), .project:nth-child(4), .project:nth-child(5) {
  border-right: 1px solid #cccccc;
}
/* line 40, ../sass/work.scss */
.project:nth-child(1), .project:nth-child(2), .project:nth-child(3) {
  border-bottom: 1px solid #cccccc;
}
@media screen and (max-width: 1128px) {
  /* line 28, ../sass/work.scss */
  .project {
    width: 300px;
  }
  /* line 46, ../sass/work.scss */
  .project:nth-child(2), .project:nth-child(4) {
    border-right: none;
  }
  /* line 49, ../sass/work.scss */
  .project:nth-child(3) {
    border-right: 1px solid #cccccc;
  }
  /* line 52, ../sass/work.scss */
  .project:nth-child(4) {
    border-bottom: 1px solid #cccccc;
  }
}
@media screen and (max-width: 700px) {
  /* line 57, ../sass/work.scss */
  .project:nth-child(1), .project:nth-child(3), .project:nth-child(5) {
    border-right: none;
  }
  /* line 60, ../sass/work.scss */
  .project:nth-child(5) {
    border-bottom: 1px solid #cccccc;
  }
}
/* line 64, ../sass/work.scss */
.project span {
  height: 220px;
  width: 300px;
  display: inline-block;
}
/* line 71, ../sass/work.scss */
.project h2 {
  color: #666666;
}

/* line 3, ../sass/company.scss */
#image_bar_company {
  height: 430px;
  width: 100%;
  background-color: #666666;
  background-image: url('/tribity2/img/home/2.png?1362523204');
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
}
@media screen and (max-width: 1128px) {
  /* line 3, ../sass/company.scss */
  #image_bar_company {
    height: 660px;
  }
}
@media screen and (max-width: 700px) {
  /* line 3, ../sass/company.scss */
  #image_bar_company {
    height: 890px;
  }
}
/* line 17, ../sass/company.scss */
#image_bar_company #image_top_bar_company {
  height: 6px;
  background-color: #000000;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=75);
  opacity: 0.75;
}
/* line 23, ../sass/company.scss */
#image_bar_company #responsibility_list .responsibility {
  width: 50%;
  text-align: left;
  float: left;
}
/* line 27, ../sass/company.scss */
#image_bar_company #responsibility_list .responsibility h1 {
  font-size: 3em;
}
/* line 30, ../sass/company.scss */
#image_bar_company #responsibility_list .responsibility ul {
  font-size: 1.5em;
  color: #e6e6e6;
  list-style-type: none;
  padding: 0;
  margin: 0;
}
/* line 37, ../sass/company.scss */
#image_bar_company #responsibility_list .responsibility a {
  float: left;
  margin: 72px 54px 0 0;
}

/* line 45, ../sass/company.scss */
#people_content {
  text-align: center;
}
/* line 47, ../sass/company.scss */
#people_content .quotation {
  font-style: italic;
}
/* line 50, ../sass/company.scss */
#people_content p {
  color: #666666;
}
/* line 53, ../sass/company.scss */
#people_content .software {
  color: #00c376;
}

/* line 58, ../sass/company.scss */
#people_container {
  padding: 50px 0 50px 0;
  width: 902px;
  margin: auto;
}
@media screen and (max-width: 1128px) {
  /* line 58, ../sass/company.scss */
  #people_container {
    width: 601px;
  }
}
@media screen and (max-width: 700px) {
  /* line 58, ../sass/company.scss */
  #people_container {
    width: 300px;
  }
}

/* line 70, ../sass/company.scss */
.person {
  width: 300px;
  float: left;
  cursor: pointer;
  position: relative;
  height: 366px;
}
/* line 76, ../sass/company.scss */
.person:nth-child(1), .person:nth-child(2), .person:nth-child(4), .person:nth-child(5), .person:nth-child(7), .person:nth-child(8) {
  border-right: 1px solid #cccccc;
}
/* line 79, ../sass/company.scss */
.person:nth-child(1), .person:nth-child(2), .person:nth-child(3), .person:nth-child(4), .person:nth-child(5), .person:nth-child(6) {
  border-bottom: 1px solid #cccccc;
}
@media screen and (max-width: 1128px) {
  /* line 70, ../sass/company.scss */
  .person {
    width: 300px;
  }
  /* line 84, ../sass/company.scss */
  .person:nth-child(2), .person:nth-child(4), .person:nth-child(8) {
    border-right: none;
  }
  /* line 87, ../sass/company.scss */
  .person:nth-child(3), .person:nth-child(9) {
    border-right: 1px solid #cccccc;
  }
  /* line 90, ../sass/company.scss */
  .person:nth-child(4), .person:nth-child(7), .person:nth-child(8) {
    border-bottom: 1px solid #cccccc;
  }
}
@media screen and (max-width: 700px) {
  /* line 95, ../sass/company.scss */
  .person:nth-child(1), .person:nth-child(3), .person:nth-child(5), .person:nth-child(7), .person:nth-child(9) {
    border-right: none;
  }
}
/* line 99, ../sass/company.scss */
.person span {
  height: 366px;
  width: 300px;
  display: inline-block;
}
/* line 105, ../sass/company.scss */
.person .name-and-place {
  position: absolute;
  top: 200px;
  left: 10px;
  width: 160px;
}
/* line 110, ../sass/company.scss */
.person .name-and-place h2 {
  color: #666666;
}
/* line 113, ../sass/company.scss */
.person .name-and-place a {
  height: 26px;
  width: 26px;
  display: inline-block;
  margin: 0 1px 0 1px;
}
/* line 120, ../sass/company.scss */
.person #join-us {
  margin-top: 155px;
  font-size: 2em;
  font-family: "proxima-nova", sans-serif;
}
/* line 124, ../sass/company.scss */
.person #join-us span {
  height: inherit;
  display: inline;
  color: #00c376;
  font-weight: bold;
}
/* line 129, ../sass/company.scss */
.person #join-us span #us {
  color: #333333;
}
/* line 133, ../sass/company.scss */
.person #join-us a {
  font-size: 0.6em;
}

/*
  Welcome to Compass. Use this file to define print styles.
  Import this file using the following HTML or equivalent:
  <link href="/stylesheets/print.css" media="print" rel="stylesheet" type="text/css" />
*/
/* ==========================================================================
   Helper classes
   ========================================================================== */
/*
 * Image replacement
 */
/* line 125, ../sass/main.scss */
.ir {
  background-color: transparent;
  border: 0;
  overflow: hidden;
  /* IE 6/7 fallback */
  *text-indent: -9999px;
}

/* line 133, ../sass/main.scss */
.ir:before {
  content: "";
  display: block;
  width: 0;
  height: 150%;
}

/*
 * Hide from both screenreaders and browsers: h5bp.com/u
 */
/* line 144, ../sass/main.scss */
.hidden {
  display: none !important;
  visibility: hidden;
}

/*
 * Hide only visually, but have it available for screenreaders: h5bp.com/v
 */
/* line 153, ../sass/main.scss */
.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element to be focusable
 * when navigated to via the keyboard: h5bp.com/p
 */
/* line 170, ../sass/main.scss */
.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto;
}

/*
 * Hide visually and from screenreaders, but maintain layout
 */
/* line 183, ../sass/main.scss */
.invisible {
  visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */
/* line 200, ../sass/main.scss */
.clearfix:before,
.clearfix:after {
  content: " ";
  /* 1 */
  display: table;
  /* 2 */
}

/* line 205, ../sass/main.scss */
.clearfix:after {
  clear: both;
}

/*
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */
/* line 214, ../sass/main.scss */
.clearfix {
  *zoom: 1;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */
@media only screen and (min-width: 35em) {
  /* Style adjustments for viewports that meet the condition */
}
@media print, (-o-min-device-pixel-ratio: 5 / 4), (-webkit-min-device-pixel-ratio: 1.25), (min-resolution: 120dpi) {
  /* Style adjustments for high resolution devices */
}
/* ==========================================================================
   Print styles.
   Inlined to avoid required HTTP connection: h5bp.com/r
   ========================================================================== */
@media print {
  /* line 241, ../sass/main.scss */
  * {
    background: transparent !important;
    color: black !important;
    /* Black prints faster: h5bp.com/s */
    box-shadow: none !important;
    text-shadow: none !important;
  }

  /* line 249, ../sass/main.scss */
  a,
  a:visited {
    text-decoration: underline;
  }

  /* line 253, ../sass/main.scss */
  a[href]:after {
    content: " (" attr(href) ")";
  }

  /* line 257, ../sass/main.scss */
  abbr[title]:after {
    content: " (" attr(title) ")";
  }

  /*
   * Don't show links for images, or javascript/internal links
   */
  /* line 267, ../sass/main.scss */
  .ir a:after,
  a[href^="javascript:"]:after,
  a[href^="#"]:after {
    content: "";
  }

  /* line 272, ../sass/main.scss */
  pre,
  blockquote {
    border: 1px solid #999999;
    page-break-inside: avoid;
  }

  /* line 277, ../sass/main.scss */
  thead {
    display: table-header-group;
    /* h5bp.com/t */
  }

  /* line 282, ../sass/main.scss */
  tr,
  img {
    page-break-inside: avoid;
  }

  /* line 286, ../sass/main.scss */
  img {
    max-width: 100% !important;
  }

  @page {
    margin: 0.5cm;
}

  /* line 296, ../sass/main.scss */
  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }

  /* line 302, ../sass/main.scss */
  h2,
  h3 {
    page-break-after: avoid;
  }
}
