/* line 3, ../sass/work.scss */
#work_content {
  text-align: center;
}
/* line 5, ../sass/work.scss */
#work_content .quotation {
  font-style: italic;
}
/* line 8, ../sass/work.scss */
#work_content p {
  color: #666666;
}
/* line 11, ../sass/work.scss */
#work_content .software {
  color: #00c376;
}

/* line 16, ../sass/work.scss */
#work_content_details {
  text-align: center;
  position: relative;
  margin-top: 20px;
}
/* line 20, ../sass/work.scss */
#work_content_details .quotation {
  font-style: italic;
}
/* line 23, ../sass/work.scss */
#work_content_details p {
  color: #666666;
}
/* line 26, ../sass/work.scss */
#work_content_details div {
  font-size: 1.5em;
  width: 50%;
  text-align: left;
}
@media screen and (max-width: 700px) {
  /* line 26, ../sass/work.scss */
  #work_content_details div {
    width: 100%;
    text-align: center;
  }
}
/* line 35, ../sass/work.scss */
#work_content_details img {
  width: 100%;
}
/* line 38, ../sass/work.scss */
#work_content_details .software {
  color: #00c376;
}
/* line 41, ../sass/work.scss */
#work_content_details #screenshot_computer {
  width: 100%;
  height: auto;
  margin: auto;
}
/* line 46, ../sass/work.scss */
#work_content_details #screenshot {
  position: absolute;
  width: 100%;
  height: auto;
  top: 0;
  left: 0;
  margin: auto;
}
/* line 54, ../sass/work.scss */
#work_content_details .floaty-left {
  float: left;
}
/* line 57, ../sass/work.scss */
#work_content_details .floaty-right {
  float: right;
}

/* line 62, ../sass/work.scss */
#project_container {
  padding: 50px 0 50px 0;
  width: 902px;
  margin: auto;
}
@media screen and (max-width: 1128px) {
  /* line 62, ../sass/work.scss */
  #project_container {
    width: 601px;
  }
}
@media screen and (max-width: 700px) {
  /* line 62, ../sass/work.scss */
  #project_container {
    width: 300px;
  }
}

/* line 74, ../sass/work.scss */
.project {
  height: 320px;
  width: 33%;
  float: left;
  padding: 10px 0 10px 0;
  cursor: pointer;
}
/* line 80, ../sass/work.scss */
.project:nth-child(1), .project:nth-child(2), .project:nth-child(4), .project:nth-child(5) {
  border-right: 1px solid #cccccc;
}
/* line 83, ../sass/work.scss */
.project:nth-child(1), .project:nth-child(2), .project:nth-child(3) {
  border-bottom: 1px solid #cccccc;
}
@media screen and (max-width: 1128px) {
  /* line 74, ../sass/work.scss */
  .project {
    width: 300px;
  }
  /* line 89, ../sass/work.scss */
  .project:nth-child(2), .project:nth-child(4) {
    border-right: none;
  }
  /* line 92, ../sass/work.scss */
  .project:nth-child(3) {
    border-right: 1px solid #cccccc;
  }
  /* line 95, ../sass/work.scss */
  .project:nth-child(4) {
    border-bottom: 1px solid #cccccc;
  }
}
@media screen and (max-width: 700px) {
  /* line 100, ../sass/work.scss */
  .project:nth-child(1), .project:nth-child(3), .project:nth-child(5) {
    border-right: none;
  }
  /* line 103, ../sass/work.scss */
  .project:nth-child(5) {
    border-bottom: 1px solid #cccccc;
  }
}
/* line 107, ../sass/work.scss */
.project span {
  height: 220px;
  width: 300px;
  display: inline-block;
}
/* line 114, ../sass/work.scss */
.project h2 {
  color: #666666;
  font-size: 1.2em;
  padding: 0 10px;
}
