/* line 3, ../sass/work.scss */
#work_content {
  text-align: center;
}
/* line 5, ../sass/work.scss */
#work_content .quotation {
  font-style: italic;
}
/* line 8, ../sass/work.scss */
#work_content p {
  color: #666666;
}
/* line 11, ../sass/work.scss */
#work_content .software {
  color: #00c376;
}

/* line 16, ../sass/work.scss */
#project_container {
  padding: 50px 0 50px 0;
  width: 902px;
  margin: auto;
}
@media screen and (max-width: 1128px) {
  /* line 16, ../sass/work.scss */
  #project_container {
    width: 601px;
  }
}
@media screen and (max-width: 700px) {
  /* line 16, ../sass/work.scss */
  #project_container {
    width: 300px;
  }
}

/* line 28, ../sass/work.scss */
.project {
  height: 400px;
  width: 33%;
  float: left;
  padding: 10px 0 10px 0;
  cursor: pointer;
}
/* line 34, ../sass/work.scss */
.project:hover {
  background-color: #eeeeee;
}
/* line 37, ../sass/work.scss */
.project:nth-child(1), .project:nth-child(2), .project:nth-child(4), .project:nth-child(5) {
  border-right: 1px solid #cccccc;
}
/* line 40, ../sass/work.scss */
.project:nth-child(1), .project:nth-child(2), .project:nth-child(3) {
  border-bottom: 1px solid #cccccc;
}
@media screen and (max-width: 1128px) {
  /* line 28, ../sass/work.scss */
  .project {
    width: 300px;
  }
  /* line 46, ../sass/work.scss */
  .project:nth-child(2), .project:nth-child(4) {
    border-right: none;
  }
  /* line 49, ../sass/work.scss */
  .project:nth-child(3) {
    border-right: 1px solid #cccccc;
  }
  /* line 52, ../sass/work.scss */
  .project:nth-child(4) {
    border-bottom: 1px solid #cccccc;
  }
}
@media screen and (max-width: 700px) {
  /* line 57, ../sass/work.scss */
  .project:nth-child(1), .project:nth-child(3), .project:nth-child(5) {
    border-right: none;
  }
  /* line 60, ../sass/work.scss */
  .project:nth-child(5) {
    border-bottom: 1px solid #cccccc;
  }
}
/* line 64, ../sass/work.scss */
.project span {
  height: 220px;
  width: 300px;
  display: inline-block;
}
/* line 69, ../sass/work.scss */
.project h1 {
  font-size: 1.5em;
  font-family: "proxima-nova", sans-serif;
  font-weight: 600;
}
/* line 74, ../sass/work.scss */
.project h2 {
  font-size: 1em;
  color: #666666;
  padding: 0 20px;
  font-weight: 400;
}
