/* line 82, work/*.png */
.work-sprite, .work-work-tiles1, .work-work-tiles2, .work-work-tiles3, .work-work-tiles4, .work-work-tiles5, .work-work-tiles6 {
  background: url('/tribity2/img/work-s92b068c3d6.png') no-repeat;
}

/* line 60, c:/Ruby193/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.work-work-tiles1 {
  background-position: 0 0;
}

/* line 60, c:/Ruby193/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.work-work-tiles2 {
  background-position: 0 -1464px;
}

/* line 60, c:/Ruby193/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.work-work-tiles3 {
  background-position: 0 -1098px;
}

/* line 60, c:/Ruby193/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.work-work-tiles4 {
  background-position: 0 -732px;
}

/* line 60, c:/Ruby193/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.work-work-tiles5 {
  background-position: 0 -366px;
}

/* line 60, c:/Ruby193/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.work-work-tiles6 {
  background-position: 0 -1830px;
}

/* line 6, ../sass/work.scss */
#work_content {
  text-align: center;
}
/* line 8, ../sass/work.scss */
#work_content .quotation {
  font-style: italic;
}

/* line 13, ../sass/work.scss */
#project_container {
  padding: 50px 0 50px 0;
}
@media screen and (max-width: 1000px) {
  /* line 13, ../sass/work.scss */
  #project_container {
    width: 700px;
    margin: auto;
  }
}
@media screen and (max-width: 700px) {
  /* line 13, ../sass/work.scss */
  #project_container {
    width: 350px;
  }
}

/* line 24, ../sass/work.scss */
.project {
  height: 400px;
  width: 33%;
  float: left;
  padding: 10px 0 10px 0;
}
/* line 29, ../sass/work.scss */
.project:nth-child(1), .project:nth-child(2), .project:nth-child(4), .project:nth-child(5) {
  border-right: 1px solid #cccccc;
}
/* line 32, ../sass/work.scss */
.project:nth-child(1), .project:nth-child(2), .project:nth-child(3) {
  border-bottom: 1px solid #cccccc;
}
@media screen and (max-width: 1000px) {
  /* line 24, ../sass/work.scss */
  .project {
    width: 333px;
  }
  /* line 38, ../sass/work.scss */
  .project:nth-child(2), .project:nth-child(4) {
    border-right: none;
  }
  /* line 41, ../sass/work.scss */
  .project:nth-child(3) {
    border-right: 1px solid #cccccc;
  }
  /* line 44, ../sass/work.scss */
  .project:nth-child(4) {
    border-bottom: 1px solid #cccccc;
  }
}
@media screen and (max-width: 700px) {
  /* line 49, ../sass/work.scss */
  .project:nth-child(1), .project:nth-child(3), .project:nth-child(5) {
    border-right: none;
  }
  /* line 52, ../sass/work.scss */
  .project:nth-child(5) {
    border-bottom: 1px solid #cccccc;
  }
}
/* line 56, ../sass/work.scss */
.project span {
  height: 280px;
  width: 300px;
  display: inline-block;
}
/* line 61, ../sass/work.scss */
.project h1 {
  font-size: 1.5em;
}
/* line 64, ../sass/work.scss */
.project h2 {
  font-size: 1em;
  color: #666666;
}
