@import "config";

#image_bar_company {
	height: 430px;
	width: 100%;
	background-color: #666666;
	background-image: image-url('home/2.png');
	background-position:center;
	background-repeat:no-repeat;
	position: relative; 
	@media screen and (max-width: $breakBase) {
		height: 660px;
	}
	@media screen and (max-width: $breakBaseWork) {
		height: 890px;
	}
	#image_top_bar_company {
		height:6px;
		background-color: #000000;
		@include opacity(0.75);	
	}
	#responsibility_list {
		.responsibility {
			width:50%;
			text-align:left;
			float: left;
			h1{
				font-size: 3em;
			}
			ul {
				font-size: 1.5em;
				color: $topBarGrey;
				list-style-type: none;
				padding:0; 
				margin:0;
			}
			a {
				float:left;
				margin: 72px 54px 0 0;
			}
		}
	}
}

#people_content {
	text-align: center;
	.quotation {
		font-style:italic;
	}
	p {
		color: $darkGrey;
	}
	.software {
		color: $baseGreen;
	}
}

#people_container {
	padding: 50px 0 50px 0;
	width: 902px;
	margin: auto;
	@media screen and (max-width: $breakBase) {
		width: 601px;
	}
	@media screen and (max-width: $breakBaseWork) {
		width: 300px;		
	}
}

.person{
	width: 300px;
	float: left;
	cursor: pointer;
	position: relative;
	height: 366px;
	&:nth-child(1), &:nth-child(2), &:nth-child(4), &:nth-child(5), &:nth-child(7), &:nth-child(8) {
		border-right: 1px solid $hrColor;
	}
	&:nth-child(1), &:nth-child(2), &:nth-child(3),&:nth-child(4), &:nth-child(5), &:nth-child(6) {
		border-bottom: 1px solid $hrColor;
	}
	@media screen and (max-width: $breakBase) {
		width: 300px;
		&:nth-child(2), &:nth-child(4), &:nth-child(8) {
			border-right: none;
		}
		&:nth-child(3), &:nth-child(9) {
			border-right: 1px solid $hrColor;
		}
		&:nth-child(4), &:nth-child(7), &:nth-child(8) {
			border-bottom: 1px solid $hrColor;
		}
	}
	@media screen and (max-width: $breakBaseWork) {
		&:nth-child(1), &:nth-child(3), &:nth-child(5), &:nth-child(7), &:nth-child(9) {
			border-right: none;
		}
	}
	span {
		height: 366px;
		width: 300px;
		display: inline-block;
	}
	.name-and-place
	{
		position: absolute;
		top: 200px;
		left: 10px;
		width: 160px;
		h2{			
			color: $darkGrey;
		}
		a {
			height: 26px;
			width: 26px;
			display: inline-block;
			margin: 0 1px 0 1px;
		}
	}
	#join-us {
		margin-top:155px;
		font-size: 2em;
		font-family: $fontFamilyLogo;
		span {
			height: inherit;
			display: inline;
			color: $baseGreen;
			font-weight: bold;
			#us {
				color: $baseGrey;
			}			
		}
		a {
			font-size: 0.6em;
		}
	}
}
