@import "config";

#image_bar_company {
	height: 430px;
	width: 100%;
	background-color: #666666;
	background-image: image-url('home/2.png');
	background-repeat:no-repeat;
	position: relative; 
	@media screen and (max-width: $breakBase) {
		height: 660px;
	}
	@media screen and (max-width: $breakBaseWork) {
		height: 890px;
	}
	#image_top_bar_company {
		height:6px;
		background-color: #000000;
		@include opacity(0.75);	
	}
}

#people_content {
	text-align: center;
	.quotation {
		font-style:italic;
	}
	p {
		color: $darkGrey;
	}
	.software {
		color: $baseGreen;
	}
}

#people_container {
	padding: 50px 0 50px 0;
	width: 902px;
	margin: auto;
	@media screen and (max-width: $breakBase) {
		width: 601px;
	}
	@media screen and (max-width: $breakBaseWork) {
		width: 300px;		
	}
}

.person{
	width: 300px;
	float: left;
	cursor: pointer;
	position: relative;
	height: 366px;
	&:nth-child(1), &:nth-child(2), &:nth-child(4), &:nth-child(5), &:nth-child(7), &:nth-child(8) {
		border-right: 1px solid $hrColor;
	}
	&:nth-child(1), &:nth-child(2), &:nth-child(3),&:nth-child(4), &:nth-child(5), &:nth-child(6) {
		border-bottom: 1px solid $hrColor;
	}
	
	@media screen and (max-width: $breakBase) {
		width: 300px;
		&:nth-child(2), &:nth-child(4), &:nth-child(8) {
			border-right: none;
		}
		&:nth-child(3), &:nth-child(9) {
			border-right: 1px solid $hrColor;
		}
		&:nth-child(4), &:nth-child(7), &:nth-child(8) {
			border-bottom: 1px solid $hrColor;
		}
	}
	@media screen and (max-width: $breakBaseWork) {
		&:nth-child(1), &:nth-child(3), &:nth-child(5), &:nth-child(7), &:nth-child(9) {
			border-right: none;
		}
	}
	span {
		height: 366px;
		width: 300px;
		display: inline-block;
	}
	.name-and-place
	{
		position: absolute;
		top: 200px;
		left: 10px;
		width: 160px;
		h1{
			font-size: 1.5em;
			font-family: $fontFamilyLogo;
			font-weight: 600;
			margin: 0 0;
		}
		h2{
			font-size: 1em;
			color: $darkGrey;
			font-weight: 400;
			margin: 0 0;
		}
	}
	#join-us {
		margin-top:155px;
		font-size: 2em;
		font-family: $fontFamilyLogo;
		span {
			height: inherit;
			display: inline;
			color: $baseGreen;
			font-weight: bold;
			#us {
				color: $baseGrey;
			}			
		}
		a {
			font-size: 0.6em;
			height: 50px;
			line-height: 50px;
			width: 168px;
			display: block;
			color: $hoverGrey;
			background-color: $baseGrey;
			text-decoration: none;
			margin: auto;
			&:hover {
				background-color: $darkGrey;	
			}
		}
	}
}
