@import "config";
@import "compass";

#image_bar_company {
	height: 430px;
	width: 100%;
	background-color: #666666;
	background-image: image-url('home/2.png');
	background-position:center top;
	background-repeat:no-repeat; 
	position: relative; 
	@media screen and (max-width: $breakBaseWork) {
		height: 784px;
	}
	#image_top_bar_company {
		height:6px;
		background-color: #000000;
		@include opacity(0.75);	
	}
	#responsibility_list {
		width: 902px;
		margin: auto;
		@media screen and (max-width: $breakBase) {
			width: 601px;
		}
		@media screen and (max-width: $breakBaseWork) {
			width: 300px;		
		}
		.responsibility {
			width:50%;
			text-align:left;			
			float: left;
			@media screen and (max-width: $breakBaseWork) {
				width: 300px;
				text-align:center;		
				margin-bottom: 23px;
			}
			h1{
				font-size: 3em;				
				@include single-text-shadow(rgba(0, 0, 0, 0.9), 1px, 1px, 3px);
			}
			ul {
				font-size: 1.5em;
				@include single-text-shadow(rgba(0, 0, 0, 0.9), 1px, 1px, 3px);
				color: $topBarGrey;
				list-style-type: none;
				padding:0; 
				margin:0;
			}
			a {
				float:left;
				margin: 50px 20px 0 0;				
				@media screen and (max-width: $breakBase) {
					float: none;
					margin: 4px 0px;
				}
				@media screen and (max-width: $breakBaseWork) {
					float: none;
					margin: 0px auto;
				}
			}
			span {
				float: left;
				margin: 50px 20px 0 0;
				font-size: 1.5em;
				color: $topBarGrey;
				@include single-text-shadow(rgba(0, 0, 0, 0.6), 1px, 1px, 3px);
				height: 50px;
				line-height: 50px;	
				font-family: $fontFamilyLogo;
				font-weight: 400;			
				@media screen and (max-width: $breakBase) {
					float: none;
					margin: 0px 72px;
				}
				@media screen and (max-width: $breakBaseWork) {
					float: none;
					margin: 5px;
				}
			}	
		}
	}
}

#people_content {
	text-align: center;
	.quotation {
		font-style:italic;
	}
	p {
		color: $darkGrey;
	}
	#logos {
		display: block;
		height: 90px;
		background-image: image-url('company/tech-logo-set.png');
		background-position:center;
		background-repeat:no-repeat;
	}
	.software {
		color: $baseGreen;
	}
}

#people_container {
	padding: 50px 0 50px 0;
	width: 902px;
	margin: auto;
	@media screen and (max-width: $breakBase) {
		width: 601px;
	}
	@media screen and (max-width: $breakBaseWork) {
		width: 300px;		
	}
}

.person{
	width: 300px;
	float: left;
	cursor: pointer;
	position: relative;
	height: 300px;
	&:nth-child(1), &:nth-child(2), &:nth-child(4), &:nth-child(5) {
		border-right: 1px solid $hrColor;
	}
	&:nth-child(1), &:nth-child(2), &:nth-child(3) {
		border-bottom: 1px solid $hrColor;
	}
	@media screen and (max-width: $breakBase) {
		width: 300px;
		&:nth-child(2), &:nth-child(4) {
			border-right: none;
		}
		&:nth-child(3) {
			border-right: 1px solid $hrColor;
		}
		&:nth-child(4) {
			border-bottom: 1px solid $hrColor;
		}
	}
	@media screen and (max-width: $breakBaseWork) {
		&:nth-child(1), &:nth-child(3), &:nth-child(5), &:nth-child(7), &:nth-child(9) {
			border-right: none;
		}
		&:nth-child(5) {
			border-bottom: 1px solid $hrColor;
		}
	}
	span {
		height: 300px;
		width: 300px;
		display: inline-block;
	}
	.name-and-place
	{
		position: absolute;
		top: 120px;
		left: 0px;
		width: 135px;
		h2{			
			color: $darkGrey;
		}
		a {
			height: 26px;
			width: 26px;
			display: inline-block;
			margin: 0 1px 0 1px;
		}
	}
	#join-us {
		margin-top: 120px;
		font-size: 2em;
		font-family: $fontFamilyLogo;
		span {
			height: inherit;
			display: inline;
			color: $baseGreen;
			font-weight: bold;
			#us {
				color: $baseGrey;
			}			
		}
		a {
			font-size: 0.6em;
		}
	}
}
