$baseGreen: #00c376;
$baseBlue: #00aed9;
$basePink: #e62799;
$baseDark: #000000;

$baseGrey: #333333;
$darkGrey: #666666;
$lightGrey: #aaaaaa;
$opacityGrey: #dddddd;
$footerGrey: #999999;
$topBarGrey: #e6e6e6;
$hoverGrey: #eeeeee;

$bgColor: #ffffff;

$hrColor: #cccccc;

$containerBase: 1128px;
$breakBase: 1128px;
$breakContact: 1000px;
$breakContactForm: 500px;
$breakBaseMenu: 700px;
$breakBaseWork: 700px;
$breakLogo: 400px;

$fontFamilyBase: "chaparral-pro",sans-serif;
$fontFamilyLogo: "proxima-nova",sans-serif; 

@mixin input-placeholder($color) {
	&.placeholder {
	  color: $color; 
	  }
	&:-moz-placeholder {
	  color: $color; 
	  }
	&::-webkit-input-placeholder {
	  color: $color; 
	  } 
}

@mixin image-div($imageAddress, $includeMobile:true, $extension:".png") {
	background-image: image-url($imageAddress + $extension);
	@if $includeMobile {
		background-image: -webkit-image-set(image_url($imageAddress + $extension) 1x, image_url($imageAddress + "@x2" + $extension) 2x);
	}
	max-width: image-width($imageAddress + $extension);
	width: 100%;
    height: image-height($imageAddress + $extension);
    background-position:center top;
	background-repeat:no-repeat; 
	background-size: contain;	
}

@mixin use-sprite($sprite) {
    background-image: sprite-url($icons);
    background-position: sprite-position($icons, $sprite);
    background-repeat: no-repeat;
    overflow: hidden;
    display: block;
    height: image-height(sprite-file($icons, $sprite));
    width: image-width(sprite-file($icons, $sprite));

    @media (-webkit-min-device-pixel-ratio: 2), (min-device-pixel-ratio: 2) {
        background-image: sprite-url($icons-2x);
        background-size: (image-width(sprite-path($icons-2x)) / 2) (image-height(sprite-path($icons-2x)) / 2);
        background-position: round(nth(sprite-position($icons-2x, $sprite), 1) / 2) round(nth(sprite-position($icons-2x, $sprite), 2) / 2);
        height: image-height(sprite-file($icons-2x, $sprite)) / 2;
        width: image-width(sprite-file($icons-2x, $sprite)) / 2;
    }
}