$baseGreen: #00c376;
$baseBlue: #00aed9;
$basePink: #e62799;
$baseDark: #000000;

$baseGrey: #333333;
$darkGrey: #666666;
$lightGrey: #aaaaaa;
$footerGrey: #999999;
$opacityGrey: #dddddd;
$hoverGrey: #eeeeee;

$bgColor: #ffffff;

$hrColor: #cccccc;

$containerBase: 1128px;
$breakBase: 1128px;
$breakBaseMenu: 700px;
$breakBaseWork: 700px;
$breakLogo: 400px;

$fontFamilyBase: "chaparral-pro",sans-serif;
$fontFamilyLogo: "proxima-nova",sans-serif; 