$baseGreen: #00c376;
$baseBlue: #00aed9;
$basePink: #e62799;
$baseDark: #000000;

$baseGrey: #222222;
$darkGrey: #666666;
$lightGrey: #aaaaaa;
$footerGrey: #999999;
$opacityGrey: #dddddd;

$bgColor: #ffffff;

$breakBase: 1000px;
$breakBaseMenu: 700px;
$breakBaseWork: 700px;