@import "config";

#contact {
	text-align:center;
	p {
		color: $darkGrey;
	}
	#contact_form_container{
		text-align: left;
		ul {
			list-style-type: none;
			padding:0; 
			margin:0;
			display:block;
			width: 50%;
			float:left;
			color:$darkGrey;
			@media screen and (max-width: $breakContact) {
				width:500px;
			}
			@media screen and (max-width: $breakContactForm) {
				width:100%;
			}
			li {
				width:100%;
				cursor: pointer;
				@media screen and (max-width: $breakContactForm) {
					width:300px;
					text-align: center;
				}
				&:hover {
					color: $baseGreen;
				}
				.icon {
					width: 200px;
					height: 100px;
					float:left;
					@media screen and (max-width: $breakContactForm) {
						float: inherit;
						margin: auto;
					}
				}
				span {
					width: 300px;
					line-height: 100px;
					font-size: 2em;
					float:left;
					@media screen and (max-width: $breakContactForm) {
						line-height: inherit;
						margin-bottom: 20px;
					}
				}
			}
		}	
		#contact_form {
			width: 50%;
			float:right;
			@media screen and (max-width: $breakContact) {
				float:left;
				width:500px;
			}
			@media screen and (max-width: $breakContactForm) {
				float:left;
				width:300px;
			}
			input[type='text'], input[type='email']{
				height:40px;
				float: right;
				margin: 10px 0;
				font-size: 1.5em;				
			}
			input[type='text'] {
				width:47%;
				padding-left: 2%;
				&:first-child{
					float: left;
				}
			}
			input[type='email'] {
				width: 98%;
				padding-left: 2%;
			}
			textarea {
				resize: none;
				width: 97.8%;
				height: 200px; 
				overflow: auto;
				float: right;
				margin: 10px 0;
				font-size: 1.5em;
				padding-left: 2%;
			}
			input[type='submit'] {
				float: right;
				border: 0;
				margin: 10px 0;
			}
		}
	}
}

.selected-purpose {
	color: $baseGreen;
}
