@import "config";

#contact {
	text-align:center;
	p {
		color: $darkGrey;
		h2 {
			font-size:0.7em;
		}
	}
	#contact_form_container{
		text-align: left;
		@media screen and (max-width: $breakContact) {
			width: 500px;
			margin: auto;
		}
		@media screen and (max-width: $breakContactForm) {
			width: 300px;
		}
		ul {
			list-style-type: none;
			padding:0; 
			margin:0;
			display:block;
			width: 500px;
			float:left;
			color:$darkGrey;
			@media screen and (max-width: $breakContact) {
				width:500px;
			}
			@media screen and (max-width: $breakContactForm) {
				width:300px;
			}
			li {
				width:100%;
				cursor: pointer;
				@media screen and (max-width: $breakContactForm) {
					width:300px;
					text-align: center;
				}
				.icon {
					width: 200px;
					height: 100px;
					float:left;
					@media screen and (max-width: $breakContactForm) {
						float: inherit;
						margin: auto;
					}
				}
				span {
					width: 300px;
					font-size: 2em;
					float:left;
					margin-top: 28px;
					@media screen and (max-width: $breakContactForm) {
						line-height: inherit;
						margin-bottom: 20px;
					}
					a {
						color: $darkGrey;
						font-style: normal;
						text-decoration: none;
						&:hover {
							color: $baseGreen;
						}
					}
				}
			}
		}	
		#contact_form {
			width: 480px;
			float:right;
			@media screen and (max-width: $breakContact) {
				float:left;
			}
			@media screen and (max-width: $breakContactForm) {
				float:left;
				width:300px;
			}
			input[type='text'] {
				width:210px;
				padding-left: 10px;
				&:first-child{
					float: left;
					@media screen and (max-width: $breakContactForm) 
					{
						float: right;
					}
				}
			}
			input[type='email'] {
				width: 470px;
				padding-left: 10px;
			}
			input[type='text'], input[type='email']{
				height:40px;
				float: right;
				margin: 10px 0;
				font-size: 1.5em;
				@media screen and (max-width: $breakContactForm) 
				{
					width:90%;
					float: right;
				}			
			}
			textarea {
				resize: none;
				width: 469px;
				height: 200px; 
				overflow: auto;
				float: right;
				margin: 10px 0;
				font-size: 1.5em;
				padding-left: 10px;
				@media screen and (max-width: $breakContactForm) 
				{
					width:90%;
					float: right;
				}
			}
			input[type='submit'] {
				float: right;
				border: 0;
				margin: 10px 0;
			}
		}
	}
}

.selected-purpose {
	color: $baseGreen;
}
