@import "compass";
@import "config";

#image_bar {
	height: 430px;
	width: 100%;
	background-color: #666666;
	background-image: image-url('home/3.png');
	background-position:center top;
	background-repeat:no-repeat;
	position: relative; 
	@media screen and (max-width: $breakBase) {
		height: 660px;
	}
	@media screen and (max-width: $breakBaseWork) {
		height: 890px;
	}
	#image_top_bar {
		height:6px;
		background-color: #000000;
		@include opacity(0.75);	
	}
	#work_bar, #work_list{
		height: 230px;
		@media screen and (max-width: $breakBase) {
  			height: 460px;	
  		}
  		@media screen and (max-width: $breakBaseWork) {
  			height: 690px;	
  		}
	} 
	#work_bar {
		position: absolute;
		bottom: 0;
		width: 100%;
		background-color: #000000;
		@include opacity(0.75);		
		
	}
	#work_list {		
		position: relative;
		top: 194px;
		color: $baseGrey;
  		.work_type {
  			width: 33%;	
  			float: left;
  			text-align: center;
  			span {
  				height: 95px;
  				width: 195px;
  				margin-top: 10px;
				display: inline-block;
  			}
  			h1 {
  				font-size: 1.5em;
  				color: $opacityGrey;
  				margin: 0.1em 0;
  				font-weight:normal;
  			}
  			p {
  				font-size: 1em;
  				color: $lightGrey;
  			}
  		}
  		@media screen and (max-width: $breakBase) {
  			width: 700px;
  			margin: auto;
  			.work_type {
  				width: 300px;
  			}	
  		}
  		@media screen and (max-width: $breakBaseWork) {
  			width: 300px;
  		}
	}
}

#content {
	width: 100%;
	color: $darkGrey;
	margin: 50px 0 50px 0;
	text-align:center;
}