@import "config";

/*
 * HTML5 Boilerplate
 *
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html,
button,
input,
select,
textarea {
    color: $baseGrey;
}

body {
    font-size: 1em;
    line-height: 1.4; 
}

/*
 * Remove text-shadow in selection highlight: h5bp.com/i
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid $hrColor;
    margin: 3em 0;
    padding: 0;
}

/*
 * Remove the gap between images and the bottom of their containers: h5bp.com/i/440
 */

img {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Chrome Frame prompt
   ========================================================================== */

.chromeframe {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

/*@import "icons/*.png";
@include all-icons-sprites;
@import "work/*.png";
@include all-work-sprites;
@import "company/team/*.png";
@include all-team-sprites;*/

$icons: sprite-map("icons/*.png", $spacing: 10px);
$icons-2x: sprite-map("icons_mobile/*.png", $spacing: 10px);

.icons-apps_icon {
	@include use-sprite("apps_icon");
	&:hover{ 
		@include use-sprite("apps_icon_hover");	
	}
}

.icons-apps_icon_white {
	@include use-sprite("apps_icon_white");
}

.icons-comment_icon {
	@include use-sprite("comment_icon");
	&:hover{ 
		@include use-sprite("comment_icon_hover");	
	}
}

.icons-dribbble {
	@include use-sprite("dribbble");
	&:hover{ 
		@include use-sprite("dribbble_hover");	
	}
}

.icons-email_icon {
	@include use-sprite("email_icon");
}

.icons-facebook {
	@include use-sprite("facebook");
	&:hover{ 
		@include use-sprite("facebook_hover");	
	}
}

.icons-games_icon {
	@include use-sprite("games_icon");
	&:hover{ 
		@include use-sprite("games_icon_hover");	
	}
}

.icons-games_icon_white {
	@include use-sprite("games_icon_white");
}

.icons-linkedin {
	@include use-sprite("linkedin");
	&:hover{ 
		@include use-sprite("linkedin_hover");	
	}
}

.icons-location_icon {
	@include use-sprite("location_icon");
}

.icons-phone_icon {
	@include use-sprite("phone_icon");
}

.icons-twitter {
	@include use-sprite("twitter");
	&:hover{ 
		@include use-sprite("twitter_hover");	
	}
}

.icons-websites_icon {
	@include use-sprite("websites_icon");
	&:hover{ 
		@include use-sprite("websites_icon_hover");	
	}
}

.icons-websites_icon_white {
	@include use-sprite("websites_icon_white");
}

$icons: sprite-map("work/*.png", $spacing: 10px);
$icons-2x: sprite-map("work_mobile/*.png", $spacing: 10px);

.work-work-tiles1 {
	@include use-sprite("work-tiles1");
}

.work-work-tiles2 {
	@include use-sprite("work-tiles2");
}

.work-work-tiles5 {
	@include use-sprite("work-tiles5");
}

.work-work-tiles7 {
	@include use-sprite("work-tiles7");
}

.work-work-tiles8 {
	@include use-sprite("work-tiles8");
}

$icons: sprite-map("company/team/*.png", $spacing: 10px);
$icons-2x: sprite-map("company/team_mobile/*.png", $spacing: 10px);

.team-team-photo1 {
	@include use-sprite("team-photo1");
}

.team-team-photo2 {
	@include use-sprite("team-photo2");
}

.team-team-photo3 {
	@include use-sprite("team-photo3");
}

.team-team-photo4 {
	@include use-sprite("team-photo4");
}

.team-team-photo5 {
	@include use-sprite("team-photo5");
}

@import "common";

@import "home";

@import "work";

@import "company";

@import "contact";

@import "print";

/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Image replacement
 */

.ir {
    background-color: transparent;
    border: 0;
    overflow: hidden;
    /* IE 6/7 fallback */
    *text-indent: -9999px;
}

.ir:before {
    content: "";
    display: block;
    width: 0;
    height: 150%;
}

/*
 * Hide from both screenreaders and browsers: h5bp.com/u
 */

.hidden {
    display: none !important;
    visibility: hidden;
}

/*
 * Hide only visually, but have it available for screenreaders: h5bp.com/v
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element to be focusable
 * when navigated to via the keyboard: h5bp.com/p
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

/*
 * Hide visually and from screenreaders, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/*
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */

.clearfix {
    *zoom: 1;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media print,
       (-o-min-device-pixel-ratio: 5/4),
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid required HTTP connection: h5bp.com/r
   ========================================================================== */

@media print {
    * {
        background: transparent !important;
        color: #000 !important; /* Black prints faster: h5bp.com/s */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links for images, or javascript/internal links
     */

    .ir a:after,
    a[href^="javascript:"]:after,
    a[href^="#"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group; /* h5bp.com/t */
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    @page {
        margin: 0.5cm;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
