@import "config";

#work_content {
	text-align: center;
	.quotation {
		font-style:italic;
	}
	p {
		color: $darkGrey;
	}
	.software {
		color: $baseGreen;
	}
}
 
#work_content_details {
	text-align: center;
	position: relative;
	margin-top: 20px;
	.quotation {
		font-style:italic;
	}
	p {
		color: $darkGrey;
	}
	div {
		font-size: 1.5em;
		width:50%;
		text-align:left;
		@media screen and (max-width: $breakBaseWork) {
			width: 100%;
			text-align:center;		
		}
	}
	img {
		width: 100%;
		margin-bottom: 20px;
	}
	.software {
		color: $baseGreen;
	}
	#screenshot_computer {
		width: 100%;
		height: auto;
		margin:auto;
	}
	#screenshot {
		position: absolute;
		width: 100%;
		height: auto;
		top: 0;
		left: 0;
		margin: auto;
	}
	.floaty-left {
		float:left;
	}
	.floaty-right {
		float:right;
	}
}

#project_container {
	padding: 50px 0 50px 0;
	width: 902px;
	margin: auto;
	@media screen and (max-width: $breakBase) {
		width: 601px;
	}
	@media screen and (max-width: $breakBaseWork) {
		width: 300px;		
	}
}

.project{
	height: 320px;
	width: 33%;
	float: left;
	padding: 10px 0 10px 0;
	cursor: pointer;
	&:nth-child(1), &:nth-child(2), &:nth-child(4), &:nth-child(5) {
		border-right: 1px solid $hrColor;
	}
	&:nth-child(1), &:nth-child(2), &:nth-child(3) {
		border-bottom: 1px solid $hrColor;
	}
	
	@media screen and (max-width: $breakBase) {
		width: 300px;
		&:nth-child(2), &:nth-child(4) {
			border-right: none;
		}
		&:nth-child(3) {
			border-right: 1px solid $hrColor;
		}
		&:nth-child(4) {
			border-bottom: 1px solid $hrColor;
		}
	}
	@media screen and (max-width: $breakBaseWork) {
		&:nth-child(1), &:nth-child(3), &:nth-child(5) {
			border-right: none;
		}
		&:nth-child(5) {
			border-bottom: 1px solid $hrColor;
		}
	}
	span {
		height: 220px;
		width: 300px;
		display: inline-block;
	}
	h1{
	}
	h2{
		color: $darkGrey;
		font-size:1.2em;
		padding: 0 10px;
	}
}
